[2017-10-10 11:25] MelSumner opened #2 "SCSS Linter"
Need to write SCSS linter rules that will enforce specific CSS code standards.

- lowercase class names
- no IDs
- possible to enforce naming structure for color variables? if so, colors should be named like this if they exist:
-- $color
-- $color-darker
-- $color-darkest
-- $color-lighter
-- $color-lightest
- properties should be in alphabetical order
- css should be mobile-first. I.E.
[code]
- c

[2017-11-06 20:07] MelSumner opened #3 "Component: es-navbar"
**Context:**
Help is needed to complete the work started on the es-navbar component in this addon. This is the navigation component that is intended to be used on the emberjs.com website, along with other "Ember Family" websites (ember-cli, fastboot, etc).

**Criteria**
- [ ] mobile-first responsive web design (RWD)
- [ ] use semantic HTML(5)
- [ ] should (also) be keyboard-only navigable
- [ ] sh

[2017-11-08 00:52] MelSumner opened #4 "Component: es-button"
**Context:**
The addon needs a consistent button element that covers the correct range of button needs. The button component already exists, but needs some more work.

**Needs:**
- [ ] should be an HTML button element
- [ ] should have a primary, secondary and tertiary version
- [ ] should have a solid design and outline design version
- [ ] should allow for an icon (font-awesome icon)
- [ ] shoul

[2017-11-08 01:21] MelSumner opened #5 "Component: es-heading"
**Context:**
Support is needed for h1-h6 heading elements.

**Needs:**
- [ ] should support adding h1 to h6 for the tagName
- [ ] should support uppercase styling
- [ ] should support page title and section title (classes?)
- [ ] ensure that appropriate default sizes exist
- [ ] support mobile-first responsive web design (RWD)

[2017-12-20 00:19] pbishop16 commented on #4
@MelSumner Would like to tackle this.

[2017-12-20 03:39] MelSumner commented on #4
Lovely! Please visit https://codepen.io/melsumner/pen/9d551738a81e319a773395a2cfa1a82e/ and look for the button and icon button elements that have been gathered there so far.

[2017-12-30 16:42] pbishop16 commented on #4
@MelSumner Quick question, what dimensions do you want for the various button sizes?

[2018-01-21 13:33] MelSumner opened #7 "Component: es-cta"
**Context:**
The call-to-action(CTA) component can be used in any place where a CTA is desired. The content and button will be stacked on small viewports, but side by side on large viewports. If the text is too long, it will wrap. On a small viewport it will take up 95% of the viewport. On larger viewports, it will be contained to 85%.

**Acceptance Criteria:**
- [ ] component name should also be

[2018-01-21 13:36] MelSumner commented on #4
@pbishop16 you can look at the css in the codepen and use that, it's accurate.

[2018-01-27 15:12] rwwagner90 commented on #2
@MelSumner I could pull in ember-cli-stylelint, but not sure which of these rules exist already. Should I give it a shot?

[2018-01-29 02:40] pbishop16 commented on #4
@MelSumner Oh yeah, I definitely have been referencing it. Sorry about the unclear question. I was a bit confused. I was not sure if you needed definitive small, medium and large button sizes as listed in the needs. No worries, I will just stick with what's outlined in the codepen. Thank you.

[2018-01-29 02:45] MelSumner commented on #2
Resolved!

[2018-01-29 02:45] #2 closed

[2018-01-29 03:00] MelSumner opened #10 "Base Styling: Layout"
- [ ] add base styling for layout
-- should be responsive
-- decide: Grid? Flexbox? Box model?
-- ship something now and upgrade later?
- [ ] update Readme to include flexi information

[2018-01-31 04:16] rwwagner90 commented on #4
You guys got this one under control?

[2018-01-31 04:18] rwwagner90 commented on #3
@MelSumner are there designs for this? Is it intended to copy the navbar from https://emberjs.com/ or should it be something different?

[2018-01-31 05:04] rwwagner90 commented on #7
This seems like something I could tackle. Do we have examples of this used in current docs?

[2018-01-31 16:20] pbishop16 commented on #4
@rwwagner90 Sure do. Just submitted a well overdue PR. Thank you for reaching out. If you have a moment, please let me know if you have any concerns.

[2018-01-31 18:17] MelSumner commented on #7
@rwwagner90 yes - example would be if you visit an old page of the guides, there's a message that tells you that you're viewing the old guides, and gives you a link to the new guides (in that button).

[2018-02-01 20:01] MelSumner opened #12 "Component: es-note"
This component should support adding notes to guides and other bits of documentation.

- [ ] It should support saying "Tomster says..." or "Zoey says..." (randomly)
- [ ] it should use either tomster or zoey's head image, depending on the title
- [ ] on small viewports, no image should be shown
- [ ] heading color is `$orange-darkest`

Screenshots:
![image](https://user-images.githubusercontent.co

[2018-02-01 22:03] pbishop16 commented on #12
@MelSumner I can tackle this one!

[2018-02-02 02:38] rwwagner90 commented on #4
Merged, thanks a ton @pbishop16! Would love your help on more of these, if you have the cycles 😃

[2018-02-02 02:38] #4 closed

[2018-02-04 21:37] MelSumner commented on #3
@rwwagner90 yes, it should do that.

[2018-02-05 03:59] jenweber opened #13 "Typography - h1 needs more padding below"
This is a suggestion that needs input from @MelSumner before anyone should work on it.

Currently
![screen shot 2018-02-04 at 10 56 18 pm](https://user-images.githubusercontent.com/16627268/35787799-df937e30-09fe-11e8-9f3d-519917865adc.png)

Proposed (8px padding below h1)
![screen shot 2018-02-04 at 10 57 19 pm](https://user-images.githubusercontent.com/16627268/35787815-efbbf256-09fe-11e8-8d41-7

[2018-02-09 21:12] MelSumner commented on #12
@pbishop16 re: having the artwork for Zoey: @wifelette is going to obtain the necessary graphic, and I'll write up a separate issue for that so it won't block this story.

[2018-02-10 23:51] pbishop16 commented on #12
@MelSumner Got it. Sounds great. Thank you.

[2018-02-12 15:19] MelSumner commented on #10
After discussion with @rwwagner90 we have initially settled on Flexbox via flexi.

[2018-02-12 16:47] MelSumner opened #15 "Component: es-card"
There are four possible items in this element:
- an image
- a heading
- some text content
- a button (if used, es-button component)

Other criteria:
- A border color should be able to be defined
- the border color should be transparent by default (a11y)
- the image should have a border-radius of 2px if square
- the image should be allowed to be a circle
- the heading should be an h3 by default, bu

[2018-02-12 17:14] MelSumner opened #16 "Component: es-header"
There isn't much to this component because it is going to contain other things.

Requirements:
- [ ] header element
- [ ] 100% width of viewport
- [ ] should support background image
- [ ] should have a background color of ember-orange by default, but other colors should be able to be specified

[2018-02-12 17:29] MelSumner opened #17 "Component: es-accordion"
## Acceptance Criteria:
- [ ] responsive
- [ ] when one panel is open, the other ones collapse automatically
- [ ] add aria-expanded to the control element (if the collapsible element is closed by default, the attribute should be `aria-expanded="false"`.)  See: https://www.w3.org/TR/wai-aria-practices-1.1/#accordion

### Keyboard Interactions:
- [ ] Enter or Space:
- When focus is on the accordion

[2018-02-12 17:37] MelSumner opened #18 "Component: es-ulist"
When an un-ordered list is required.

- [ ] support a heading whose element type can be defined (h2-h6, p or div)
- [ ] list should be linked to heading via aria-describedby attribute
- [ ] The `<li>` should block yield, but when implementing styling, think about what could go inside-
- a link
- a link with a small image or icon to the left or right
- regular text

Possible outcome:
![image](https

[2018-02-12 17:51] MelSumner opened #19 "Component: es-blog-heading"
There are three types of blog posts:
- regular
- syndicated (written elsewhere but re-posted here)
- guest post

The CSS for this component can be taken from the current website, which reflects the desired styles.

On the summary page:
![image](https://user-images.githubusercontent.com/4587451/36462214-b1f2103c-1687-11e8-90f5-eca6a91d4be0.png)

On the individual post page:
![image](https://user-im

[2018-02-12 22:29] MelSumner opened #20 "Component: es-footer"
- [ ] should look like the current footer, but should be an Ember component.

[2018-02-12 23:09] j-afarian opened #21 "Ember orange fails color contrast against white text - suggested color"
The existing ember orange **#E04E39** fails minimum color contrast against the white foreground text (as is already indicated in the README).

Just wanted to make a suggestion for **#D14632** which is visually extremely close, but passes WCAG 2.0 AA criteria [1.4.3 Contrast (Minimum)](https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html) with a ratio of 4.53:1 against whi

[2018-02-12 23:23] cdvillard commented on #20
I would like to try my hand at this.

[2018-02-14 17:03] pbishop16 commented on #17
@MelSumner Would like to tackle this one.

[2018-02-15 15:02] #12 closed

[2018-02-15 15:11] MelSumner commented on #21
Thank you for filing this issue, we appreciate it!

Since it passes if the font is large enough(18.66px and bold or 24px if not bold), we use it only in that way. For other instances, we do have additional variants of Ember orange ($orange-darker, $orange-darkest) and those pass the necessary color contrast checks.

Screenshot of Color Contrast Checker:
![image](https://user-images.githubuserconte

[2018-02-15 15:11] #21 closed

[2018-02-15 15:37] MelSumner commented on #21
Adding: https://github.com/ember-learn/ember-styleguide/pull/23 updates the project readme to more accurately reflect the current status. Thanks again for your input! :)

[2018-02-15 18:59] MelSumner opened #24 "Blueprint: es-layout"
Create blueprints for the necessary layouts- we can use this issue to discuss the options.

At a minimum:
- [ ] responsive/ device-agnostic
- [ ] full-width content with header and footer
- [ ] header, footer, sidebar, main (sidebar on left or right?)

[2018-02-15 19:01] MelSumner commented on #19
Assigning myself to this because the updates to the current Ember blog will force an update to this component.

[2018-02-18 19:29] MelSumner opened #26 "es-note: Add Zoey image"
The image for Zoey wasn't ready when the es-note component was finished, so this story covers that gap. (+ @wifelette )

[2018-02-18 19:32] MelSumner commented on #3
continuing the work on this today (02/18/18)

[2018-02-19 09:15] SanthoshRaju91 commented on #18
@MelSumner ,

You can assign this to me, if this is not worked by anyone.

[2018-02-19 17:35] jenweber commented on #20
@cdvillard The footer has already been component-ized for other apps. We just need to move the styling, svgs, js, and markdown into one place. This comment here has a list of the files that you could probably copy/paste from: https://github.com/ember-learn/statusboard/issues/29#issuecomment-366759588

Let us know if you need any help!

[2018-02-19 22:22] cdvillard commented on #20
Thank you for this! I'll get it on ASAP and I'll let you know if I hit any roadblocks.

[2018-02-20 00:19] MelSumner opened #29 "analysis: es-navbar component"
- review es-navbar component
- write tests that are accurate
- ensure code is written to pass the tests; update component if necessary
- ensure all tests pass

[2018-02-20 12:51] sivakumar-kailasam opened #32 "Publish to npm"
This addon is now consumed via its git url in our other apps. git based dependency resolution is usually slow compared to packages from registries. Also `ember install` command has a weird bug where it removes git based dependencies post running it.

Besides these factors if this is published to npm & if we enable greenkeeper on our upstream repos, then it makes it trivial to propagate changes acr

[2018-02-20 14:53] rwwagner90 commented on #20
@cdvillard please let me know if you need any help!

[2018-02-20 15:28] cdvillard commented on #20
Just addressed in #33. I'm going to take @jenweber advice and use the other materials, but I had tried to make progress. Sorry for taking so long on this.

[2018-02-20 15:50] cdvillard opened #34 "Deprecated dependency: bower 1.x suggesting moving to Yarn"
In building to test, I saw this warn pop up from Bower:

`npm WARN deprecated bower@1.8.2: ...psst! Your project can stop working at any moment because its dependencies can change. Prevent this by migrating to Yarn: https://bower.io/blog/2017/how-to-migrate-away-from-bower/`

Not sure if this is something with the ember-learn tools or ember-cli in general. Is this of concern?

[2018-02-20 16:16] rwwagner90 commented on #20
@cdvillard it should just be copying the files linked in that other issue comment right?

[2018-02-20 16:19] cdvillard commented on #20
Well, yes, _now_ it is. Before I was trying to build it out myself. Now I'm running into a build issue with bower.

[2018-02-20 16:24] cdvillard commented on #20
More specifically, I'm running into a build issue where it can't locate ember-template-compiler. Log here: https://gist.github.com/cdvillard/aa5ad53f17d3bfe9869bb162f36837e7

[2018-02-20 16:39] cdvillard commented on #34
This can be ignored, I forgot to pull.

[2018-02-20 16:39] #34 closed

[2018-02-20 16:39] cdvillard commented on #20
My previous issue with bower can be ignored, I hadn't pulled latest.

[2018-02-20 17:25] cdvillard commented on #20
I've pushed latest in #33 , and it's almost there. I'm just not sure why the social logos won't render.

[2018-02-20 17:43] rwwagner90 commented on #20
@cdvillard svg-jar doesn't work well in addons, unfortunately. You may want to just manually copy the svg code inline.

[2018-02-20 17:52] cdvillard commented on #20
@rwwagner90 which I find strange because the svg-jar calling for the heroku and fastly logos is working fine. Is that pulling from another source? I understand the concept of an addon, but I'm not familiar with how it works.

[2018-02-21 03:10] MelSumner opened #36 "Documentation"
Add documentation to dummy app for the completed components.

[2018-02-21 03:13] MelSumner commented on #32
We just started this work; in the last(?) learning team meeting we discussed that the addon shouldn't be used yet, and that if apps needed to use certain components they'd create them in the apps for now. Everyone seemed to be okay with that course of action- did something change?

If there was something we forgot to include in the conversation, I'm happy to re-discuss- maybe put it on the learnin

[2018-02-21 03:34] MelSumner commented on #26
Resolved with #35

[2018-02-21 03:34] #26 closed

[2018-02-21 03:50] rwwagner90 commented on #20
@cdvillard yes. Going to move this conversation to the PR.

[2018-02-21 03:51] MelSumner opened #37 "Component: es-graphic"
This component can be used in places where there is a short list of items that would be made more interesting if they were interactive graphics.

For example, this:
![image](https://user-images.githubusercontent.com/4587451/36462315-48e57556-1688-11e8-928e-a4a4937fbde1.png)

Can become this:
![image](https://user-images.githubusercontent.com/4587451/36462329-5fb4dab0-1688-11e8-8117-033050f565be.pn

[2018-02-21 04:19] sivakumar-kailasam commented on #32
Oh I just started the conversation thinking long term. If it's too early, we can just mark it for future and revisit.

Also it was midnight here when the meeting happened, so I didn't remember this when I wrote down the issue :sweat_smile:

[2018-02-21 13:16] mansona commented on #32
Howdy folks 👋

Sorry, this all got lost in a bit of the back and forth. Entirely my fault, I'm trying to do better.

We discussed this not last week but the week before @MelSumner and yes you're 100% right that we agreed not to use the styleguide at that point. I then posted a **Slack Post** in the ember-learning team slack discussing a proposal to have an exception to that assertion. I think this

[2018-02-22 00:00] MelSumner commented on #32
@mansona @serenaf @locks @sivakumar-kailasam since everyone seems to need the header and footer sooner rather than later, once we get the first round of footer finished, we can publish to npm.

[2018-02-22 14:35] MelSumner opened #38 "Dummy App Setup- add ember-cli-addon-docs"
The dummy app in the addon should be used to document and demonstrate the flexibility of the components in this addon, within the different website contexts.

- [ ] create a route for each site that we initially intend to support with this addon:
- emberjs.com
- ember-cli.com
- ember-engines.com
- ember-fastboot.com
- [ ] scope site-specific styles in the dummy app stylesheet
- [ ] add the navbar

[2018-02-22 14:42] MelSumner commented on #36
Closing this issue to break it down into smaller parts

[2018-02-22 14:42] #36 closed

[2018-02-23 01:37] pbishop16 commented on #19
@MelSumner I will tackle this one.

[2018-02-23 01:43] #17 closed

[2018-02-24 16:10] SanthoshRaju91 commented on #18
@MelSumner, should the links be external or should it be internal like `{{link-to }}`

[2018-02-24 17:42] MelSumner commented on #18
@SanthoshRaju91 anything should be able to go into the `li` element. I updated the instructions to hopefully be more clear. Thank you! :)

[2018-02-24 17:45] MelSumner commented on #3
Thank you for doing this, @rwwagner90 !

[2018-02-24 17:45] #3 closed

[2018-02-24 19:42] rwwagner90 commented on #3
You're welcome. Thanks for all your help @MelSumner!

[2018-03-01 02:00] SanthoshRaju91 commented on #18
@MelSumner I have raised a PR #39 for the feature, could you review it and let me know if there is any changes.

[2018-03-16 17:26] dbollinger commented on #16
I'm hoping to use this issue as my first foray into ember contributions 😬.  for the configurable background color requirement, what kind of usage are you looking for? predetermined class style themes like `{{es-header classNames='header-light'}}`, a property bound to the style attribute `{{es-header backgroundColor='#afafaf'}}`, or something else?

[2018-03-16 17:45] josemarluedke commented on #38
To accomplish the above, one could use [ember-cli-addon-docs](https://github.com/ember-learn/ember-cli-addon-docs) project to write documentation and demo all the components available here.

[2018-03-19 16:38] serenaf commented on #37
@MelSumner Will take a stab at this this week :)

[2018-03-19 16:47] MelSumner commented on #37
Awesome! Thank you @serenaf !!!

[2018-03-23 15:59] MelSumner commented on #32
Update: we (the learning team) decided to hold on this and let the addon get closer to complete.

[2018-03-24 05:33] pbishop16 commented on #5
@MelSumner I would like to tackle this.

[2018-03-25 19:54] MelSumner opened #43 "Add Support for Themes"
In order to increase flexibility for multiple sites, add ability to define themes.

[2018-04-13 14:30] oskarrough commented on #13
It looks like this can be closed? Screenshot from https://emberjs.com/ember-users/

![chrome_2018-04-13_16-29-24](https://user-images.githubusercontent.com/184567/38740449-e6796b9c-3f37-11e8-9269-b814f0eb039b.jpg)

[2018-04-13 19:10] #13 closed

[2018-04-15 21:30] MelSumner commented on #15
@SanthoshRaju91 we could probably control it with classes bound to boolean properties.

[2018-04-20 12:07] MelSumner opened #46 "Add Slack"
add the slack logo & link to the slackin url

[2018-04-20 12:13] MelSumner commented on #43
Marking this one blocked until the explicit tasks are added.

[2018-05-19 18:16] Dan-Ste commented on #46
Any thought about the usage of raw svg icons in the footer template? Maybe it is better to use some component for this purpose?

[2018-05-19 23:15] MelSumner commented on #46
@Dan-Ste we need to double- check the components, but none of them should have any specific data in them- I think the navbar does it correctly right now, but I'm not sure if the footer does.

[2018-05-20 08:19] Dan-Ste commented on #46
@MelSumner you mean try to make all components abstract?
I also can see that only navbar now use a pod structure in the addon - should we stick with classic files structure or switch to pods?
And another question :) It looks like the api-docs now has different design of header and footer than ember-styleguide. Is it intentional? I personally like a design from api-docs.

[2018-05-20 08:37] sivakumar-kailasam commented on #46
Pod structure in addons have edge cases that cause problems (I love pods btw 🙂), so better we continue with classic until module unification lands.

API docs predates the style guide so we haven't got to moving it to use style guide yet. But we'd love help with that 🙂

The header and footer reorganization has been a result of detailed discussions that have happened in the last year over GitHub & l

[2018-05-21 18:51] #46 closed

[2018-05-21 19:02] Dan-Ste commented on #15
I'm going to work on it if it's ok

[2018-05-21 19:08] Dan-Ste commented on #15
I'm thinking about make it composable component. Only can't come up with how to allow different heading types based on passed attributes

[2018-05-21 21:42] MelSumner commented on #18
Thank you for completing this issue!

[2018-05-21 21:42] #18 closed

[2018-05-21 21:49] MelSumner opened #50 "Update to ember-fontawesome"
Add ember-fontawesome to be used for icons. https://github.com/FortAwesome/ember-fontawesome

[2018-05-21 21:56] MelSumner commented on #16
@dbollinger the idea is that we'll provide themes. Check out https://github.com/ember-learn/ember-styleguide/pull/48

[2018-05-21 21:58] MelSumner commented on #19
Thank you @pbishop16 !

[2018-05-21 21:58] #19 closed

[2018-05-23 12:27] Dan-Ste commented on #50
But it's already added
https://github.com/ember-learn/ember-styleguide/blob/45d56bb5a39c5e1eb3252f4e5c2a8c164d1f75c0/package.json#L51

[2018-05-23 12:27] MelSumner opened #51 "Remove all bootstrap references that are not ember-bootstrap"
when ember-bootstrap was added, the original bootstrap stuff wasn't removed, and that's causing issues.

Hunt these instances down and remove all traces.

[2018-05-23 12:30] MelSumner commented on #50
You're right! I've updated the issue- to update the version used. Thank you!

[2018-05-23 13:46] Dan-Ste commented on #51
@rwwagner90 merging bootstrap into the tree is required for ember-boostrap?
https://github.com/ember-learn/ember-styleguide/blob/master/index.js

[2018-05-23 18:59] rwwagner90 commented on #51
@Dan-Ste it was required because we did not want to import all of ember-bootstrap. We were just using it for the navbar and it needed some hacks. To my knowledge, we're not using any bootstrap other than ember-bootstrap. @MelSumner where are the other bootstrap things you are seeing?

[2018-05-23 20:17] Dan-Ste commented on #15
@MelSumner Is it ok to use BEM methodology for css classes?

[2018-05-23 21:08] Dan-Ste commented on #51
@rwwagner90 We still need these hacks for some reasons which I don't understand

[2018-05-23 21:40] MelSumner commented on #15
I'm fine with that, although we should be cognizant that this might change in the future.

[2018-05-23 21:42] #51 closed

[2018-05-24 16:32] localpcguy opened #53 "Styles: Prefer to apply styles with classNames over raw HTML tagNames"
## Expected Behavior
When reading or adding styles for a component, I would expect to see styling applied via classNames rather than raw tag references (i.e. `li` vs. a class attribute on that `li`).

## Actual Behavior
Styles include references to raw tags

## Proposed solution
I propose that all new components be written using classNames for styling hooks, rather than attaching styles to raw tag

[2018-05-24 16:39] localpcguy opened #54 "Styles: Reduce CSS specificity when possible"
## Expected Behavior
Lowest possible specificity for CSS tag selectors in order to apply proper styles

## Actual Behavior
some nested tags/styles that cause unnecessary specificity

## Proposed Solution
Code like this:
[code]
should be more like this:
[code]
With the changes in #53 to using classNames instead of tagNames, styles should not bleed between similar tags (i.e. separate images in the s

[2018-05-27 16:25] MelSumner opened #56 "Component: es-footer refactor"
## Expected Behavior
The data should be separate from the component. The data is an application concern. The footer component itself shouldn't care.

## Actual Behavior
The current footer component is only the emberjs.com website footer.

[2018-05-27 17:48] sivakumar-kailasam commented on #32
We've started publishing to npm :)

[2018-05-27 17:48] #32 closed

[2018-05-27 20:27] cdvillard commented on #56
It doesn't look like anyone has taken this on, and I might actually have some downtime to handle this so I'd like to tackle it if I may? I'm also the one who took on the footer in the first place, so my bad.

[2018-05-27 20:40] MelSumner commented on #56
@cdvillard I didn't give explicit enough guidance in the first component, so it's not your fault at all.

Please make this one es-pagefooter that way we can discuss with everyone who is already using the es-footer component to replace.

[2018-05-28 12:23] MelSumner opened #59 "Move styles from addon/styles to app/styles"
In order for the addon's styles to be correctly rendered in the application, the styles need to be in the app/styles folder.

There are more complex ways of dealing with this, but this is a straightforward route.

[2018-05-30 00:55] localpcguy commented on #54
I'm happy to take this on

[2018-05-30 00:55] localpcguy commented on #53
I'm happy to take this one

[2018-06-03 16:02] Dan-Ste commented on #50
I've started working on this ticket and then realized that we use ember-font-awesome and ember-svg-jar simultaneously. Should we stick with one of them or continue to use both?

[2018-06-04 07:46] Dan-Ste commented on #50
I think that ember-svg-jar is better choice because we can use not only font-awesome icons but any svg icons. Also there is more control over them.

[2018-06-04 19:04] mansona opened #63 "Aliasing Issues on Headers"
The Headers currently look like this:
![screen shot 2018-06-04 at 20 01 39](https://user-images.githubusercontent.com/594890/40936123-32e2b704-6832-11e8-9adc-bd32b1172473.png)

and when you add the following rule:

[code]

they look like this:
![screen shot 2018-06-04 at 20 02 56](https://user-images.githubusercontent.com/594890/40936148-512aff32-6832-11e8-924b-9e7daf651bb5.png)

It is quite subtl

[2018-06-04 21:47] nummi commented on #63
I can't really tell the difference except for _very_ subtle gray aliasing. Do we really want that?

[2018-06-05 07:41] mansona commented on #63
@nummi it is less subtle with other fonts, for example before I fixed the headers using Roboto it looked like this:

![screen shot 2018-06-04 at 19 42 12](https://user-images.githubusercontent.com/594890/40961967-182ea372-689c-11e8-8cdd-77c2945b7e3c.png)

This does look pretty bad and anyone with a design eye would likely judge us for this, especially when this is used on the homepage 😖

[2018-06-05 19:51] nummi commented on #63
Where do we use Alegreya Sans? I thought Roboto was the correct font?

[2018-06-06 12:49] MelSumner commented on #63
@nummi we don't- we considered it for a while and there was just an outdated variable value in this code. (we were trying to find a good complementary header font to pair with Roboto)

@mansona you could put these properties in the addon/styles/addon.scss file:

[code]

[2018-06-15 02:09] abhilashlr commented on #50
+1 for ember-svg-jar over font-awesome.

[2018-06-18 11:42] MelSumner opened #68 "include ember-cli-google-fonts"
## Expected Behavior
Roboto font should render.

## Actual Behavior
default sans-serif was displayed

- add ember-cli-google-fonts as a dependency.

[2018-06-18 15:03] mansona commented on #68
@MelSumner I assume this is solved by https://github.com/ember-learn/ember-styleguide/pull/69 ?

[2018-06-18 15:07] #68 closed

[2018-06-19 19:10] #63 closed

[2018-06-20 06:52] mansona opened #70 "Port styles used for the Ember website to ember-styleguide"

[2018-06-20 08:19] hakilebara commented on #38
I agree with @josemarluedke, I think ember-cli-addon-docs would be the right tool to organize the style-guides.
Today the style-guides' dummy app is a little confusing to navigate. I propose the following layout for the navbar. Each section would contain components and styles specific to a website/app.  @MelSumner what do you think?

![image](https://user-images.githubusercontent.com/1991564/41645

[2018-06-20 12:57] MelSumner opened #71 "CSS bugs"
- padding should be 1em 22em (for larger viewports)
- h1 should be min-width: 100%
- fix the h2 according to the screenshots
make sure to scale for smaller (mobile first please)

![image](https://user-images.githubusercontent.com/4587451/41659636-7688449a-745f-11e8-913c-4c72765dd126.png)

![image](https://user-images.githubusercontent.com/4587451/41660743-8d0be9b2-7462-11e8-8f19-bd0fca6302df.png)

[2018-06-21 01:17] MelSumner opened #72 "Assets: Ember logo should have trademark"
Replace the current ember logo (for the navbar) with the one that has the trademark.

[2018-06-22 13:23] alexmiddeleer opened #75 "Code example colors are hard on the eyes in the ember guides."
Just wanted to note that I think the color palette on the site might be a little bit off, or need some slight tweaking. For example at https://guides.emberjs.com/release/testing/testing-components/. I see the body has `background-color: #FDFDFD;`, the code example has `background-color: #151515;`, and the base font color of the code example has  `color: #f8f8f2`. I find this white frame, black box

[2018-06-22 13:35] localpcguy commented on #75
The code example colors were changed to be more accessible a little bit back - the default colors from the plugin did not match the WCAG AA recommendations for color contrast. It's a bit tricky since the code itself has a number of different colors for the various file types, plus it has to account for diff highlighting (i.e. showing removed and inserted lines highlighted red/green).

If changes a

[2018-06-26 21:22] MelSumner commented on #70
Can you clarify? We were specifically trying to not do this :)

[2018-06-26 21:23] #71 closed

[2018-06-26 21:36] MelSumner commented on #38
@hakilebara I like this idea!

[2018-07-08 19:53] MelSumner commented on #70
Closing this issue after discussion- we are trying to avoid this.

[2018-07-08 19:53] #70 closed

[2018-08-09 00:34] terrancebryant commented on #29
@MelSumner I would like to take a crack at this

[2018-08-10 07:17] terrancebryant commented on #29
@mansona Sounds good let me know what i can do to help

[2018-08-10 12:55] MelSumner commented on #29
@terrancebryant would you be willing to look at #77 and see what you think? It would be super helpful! If you wanted to propose an alternate approach to consider that would be great too!

[2018-08-12 17:13] MelSumner commented on #59
I'm marking this one blocked for now because we've discovered some other issues with the theme-changer. so until those are resolved we'll leave the styles where they are.

[2018-08-12 17:14] MelSumner commented on #50
https://fontawesome.com/how-to-use/on-the-web/using-with/ember Putting this here so I can remember to do it.

[2018-08-23 00:04] BradenLawrence commented on #72
Hey! I was wondering if I could help with this. I see the current logo is arranged from an svg and a span of text. Would you like the trademark to be positioned as a character in the bottom right, or would this be better as a flat image?

[2018-08-25 23:41] MelSumner commented on #72
@BradenLawrence we'd love the help! You can pull it from here: https://emberjs.com/logos/

[2018-09-04 19:09] sivakumar-kailasam opened #85 "Replace references to Slack with Discord in the footer"
## What it does
This replaces all links to Slackin to the new Discord server.

## Related Issue(s)

[Merged RFC to move to Discord](https://github.com/emberjs/rfcs/pull/345)

## Expected

![screen shot 2018-09-04 at 12 26 25](https://user-images.githubusercontent.com/630449/45050354-4c568680-b03e-11e8-8a09-e471487d64d4.png)

[2018-09-13 15:39] MelSumner commented on #56
Opening this back up for other contributors to work on as well.

[2018-09-13 15:40] MelSumner commented on #54
@localpcguy do you have any blockers for this? Anything I can help with to move this forward?

[2018-09-13 15:48] MelSumner commented on #53
How about we close this ticket out and open one for each component that needs this change? That way it will be more actionable. :+1:

[2018-09-13 15:48] #53 closed

[2018-09-13 15:51] MelSumner commented on #16
@dbollinger just checking in on this. Anything I can do to help make this happen?

[2018-09-13 15:53] MelSumner commented on #37
@serenaf is there anything I can do to help this move forward?

[2018-09-13 15:53] MelSumner commented on #7
@rwwagner90 is there anything I can do to help this move forward?

[2018-09-13 16:34] rwwagner90 commented on #7
Hi @MelSumner nothing in particular. When I was moved to Ember Inspector work, a lot of my in progress things from just the general learning team side of things fell by the wayside. I'll try to get back into working on this stuff more soon.

[2018-09-14 12:57] ppcano commented on #56
@MelSumner I can look at this one, any other requirement besides moving the existing template info to support the data to be a component parameter.

[2018-09-14 19:04] serenaf commented on #37
@MelSumner I will pick this up Mel in a weeks time 🎉 (on holidays for a week next week). I will catch up with you when i am back?

[2018-09-21 04:19] ppcano commented on #38
If [ember-cli-addons-doc](https://ember-styleguide.netlify.com/) has replaced the `dummy-app`, could this issue be closed or there is still any pending work?

[2018-09-21 06:11] ppcano opened #91 "Sidebar component"
Is there any intention to provide a sidebar component? I could not find any previous discussion about it.

I have reviewed some projects and it looks there is a common pattern on:

- [Builds](https://emberjs.com/builds/)
- [Deprecations](https://emberjs.com/deprecations/v2.x)
- [Guides](https://guides.emberjs.com/release/)

<img width="210" alt="screen shot 2018-09-21 at 08 02 00" src="https://use

[2018-09-22 22:56] ppcano commented on #91
API proposal

[code]

[2018-09-23 20:51] MelSumner opened #92 "Plan for New/Experimental/Deprecated indicators"
Design and plan for a way to insert status indicators for a concept into the guides.
This is a placeholder issue. I will unassign this ticket once I've updated it fully.

[2018-09-23 21:05] #5 closed

[2018-09-29 21:49] jenweber opened #93 "Should this project have both a yarn and npm lock?"
## Expected Behavior
There is usually only one lock file in projects

## Actual Behavior
This one has two. Is that intentional?

[2018-09-29 22:37] jenweber opened #94 "bug: h3 elements with code in them have overlapping lines, line height is too low"
## Expected Behavior
Multiple lines of text should not overlap. To fix this, you could either tighten the padding in the code highlighting block (make sure it doesn't cut off the ends of long letters like y and g), or increase line height of h3 elements.

## Actual Behavior
![screen shot 2018-09-29 at 6 34 17 pm](https://user-images.githubusercontent.com/16627268/46251062-b3394680-c416-11e8-8b1a-3

[2018-09-30 02:30] sivakumar-kailasam commented on #93
No it's not. I removed it a while ago but missed adding it to .gitignore. We've been using yarn as the default package manager across repos as a result of previous learning decision to do  so except for few projects where there are techincal limitations.

[2018-09-30 03:05] jenweber commented on #93
cool, I'll edit this and mark it `hacktoberfest` :)

[2018-09-30 03:06] sivakumar-kailasam commented on #93
Good call. The yarn.lock is outdated. So do mention that it needs to be
updated as a part of the pr.

On Sun, 30 Sep, 2018, 8:35 AM Jen Weber, <notifications@github.com> wrote:

--

Regards,
Siva

[2018-09-30 19:18] BradenLawrence commented on #72
Hey, I just opened a PR for this [here](https://github.com/ember-learn/ember-styleguide/pull/96).
The new logo is being stored in the addon's public folder and getting called by svgJar. I saw the old image was getting linked from a fastly.net repository, if you have a similar link to an updated logo I'd be happy to switch it to that instead.

[2018-09-30 21:40] jenweber commented on #93
Awesome! If you want it to count for Hacktoberfest, open your PR on or after Oct 1st. Thanks for your help @Akash4927 !

@jenniferkaplannyc feel free to ping me if you need help finding another issue. I opened a ton on https://github.com/ember-learn/guides-source if you like writing.

[2018-10-01 16:45] qpowell commented on #7
@rwwagner90 Do you care if I take this one off your plate?

[2018-10-01 19:14] rwwagner90 commented on #7
@qpowell go for it! I'm swamped with work and ember-inspector things at the moment.

[2018-10-02 14:20] MelSumner commented on #94
Resolved! :+1:

[2018-10-02 14:20] #94 closed

[2018-10-02 16:16] MelSumner opened #99 "Component: es-aside"
Create an es-sidebar-menu component. Could be named differently if we think of something more concise/elegant.

Requirements:
- should not be inside of the aside element (we may wish to put other things in the sidebar- this component should just be the menu portion.
- should use semantic HTML
- should be keyboard navigable for users with assistive technology
    - TAB should take the user to the m

[2018-10-05 20:39] localpcguy commented on #54
I have started on this, hoping to have a PR in this weekend

[2018-10-06 17:47] NullVoxPopuli opened #100 "Are there responsive helpers? If not, how do people feel about this pattern?"
https://gitlab.com/NullVoxPopuli/emberclear/blob/master/packages/frontend/src/ui/styles/utility/flex.scss#L38

In emberclear, I'm using bulma,
so I have some responsive helpers that end up being used like this:

[code]

this allows me to have more functional-style css, similar to tailwind.

Does something like this already exist?
 - would it be cool if I add some utils to this repo if not?

[2018-10-07 18:00] localpcguy commented on #59
@MelSumner If updating multiple style files (re: #54), which set should be considered the ones to change? I'm assuming `addon/styles` for the time being, but there are currently differences between the two folders.

[2018-10-07 18:49] localpcguy commented on #59
I ended up updating the `app/styles` with the styles from `addon/styles` as part of PR #101 (for #54). There weren't that many differences, but if anything in `app/styles` should be the most recent we may need to check in the history to grab it once that PR is merged.

[2018-10-11 11:13] prasannavijayan commented on #50
@MelSumner I will work on this issue.

[2018-10-17 08:34] mansona opened #109 "Add tests for es-ulist"
As a result of the work on #108 @aklkv noticed that there are no tests for es-ulist currently and adding tests would not be part of the scope of that PR.

I am creating this issue and assigning it to @aklkv so that we can keep the progress moving and he might tackle it after this current work, along with some work to add ember-test-selectors 👍

[2018-10-31 10:05] spruce commented on #56
Can't this be closed as of #89 ?

[2018-11-01 11:03] ppcano commented on #99
I plan to work on this issue soon,  based on the API proposal commented at #91

[code]

[2018-11-27 17:31] MelSumner commented on #100
All of the CSS should be written in a mobile-first way and media queries should be added after that. We shouldn't need includes like this. Thank you for the feedback!

[2018-11-27 17:31] #100 closed

[2018-11-27 20:45] #56 closed

[2018-12-01 03:27] MelSumner opened #116 "Convert es-accordion to angle bracket component"
For the next iteration of these components, we should be using angle-bracket components.

## To Do
- [ ] Convert es-accordion to be a template-only/angle bracket component
- [ ] Update documentation (in dummy app)

## Supporting Resources
- Video: [Angle Bracket Component Invocation in Ember.js](https://www.youtube.com/watch?v=KP_3MJTMpXI)
- Video: [Template-only components in Ember.js](https://ww

[2018-12-01 03:28] MelSumner opened #117 "Convert es-ulist to an angle bracket component"
For the next iteration of these components, we should be using angle-bracket components.

## To Do
- [ ] Convert es-ulist to be a template-only/angle bracket component
- [ ] Update documentation (in dummy app)

## Supporting Resources
- Video: [Angle Bracket Component Invocation in Ember.js](https://www.youtube.com/watch?v=KP_3MJTMpXI)
- Video: [Template-only components in Ember.js](https://www.yo

[2018-12-01 03:29] MelSumner opened #118 "convert es-blog-heading to be an angle bracket component"
For the next iteration of these components, we should be using angle-bracket components.

## To Do
- [ ] Convert [es-blog-heading](https://ember-styleguide.netlify.com/docs/components/es-blog-heading) to be a template-only/angle bracket component
- [ ] Update documentation (in dummy app)
- [ ] Submit PR to the feature branch for angle bracket components ([feature/angle-bracket-components](https://

[2018-12-01 03:30] MelSumner opened #119 "Convert es-button to angle bracket component"
For the next iteration of these components, we should be using angle-bracket components.

## To Do
- [ ] Convert [es-button](https://ember-styleguide.netlify.com/docs/components/es-button) to be a template-only/angle bracket component
- [ ] Update documentation (in dummy app)
- [ ] Submit PR to the feature branch for angle bracket components ([feature/angle-bracket-components](https://github.com/e

[2018-12-01 03:39] MelSumner opened #120 "convert es-buttonbar to angle bracket component"
For the next iteration of these components, we should be using angle-bracket components.

## To Do
- [ ] Convert [es-buttonbar](https://ember-styleguide.netlify.com/docs/components/es-buttonbar) to be a template-only/angle bracket component
- [ ] Update documentation (in dummy app)
- [ ] Submit PR to the feature branch for angle bracket components ([feature/angle-bracket-components](https://github

[2018-12-01 03:41] MelSumner opened #121 "convert es-card to an angle bracket component"
For the next iteration of these components, we should be using angle-bracket components.

## To Do
- [ ] Convert [es-card](https://ember-styleguide.netlify.com/docs/components/es-card) to be a template-only/angle bracket component
- [ ] Update documentation (in dummy app)
- [ ] Submit PR to the feature branch for angle bracket components ([feature/angle-bracket-components](https://github.com/ember

[2018-12-01 03:46] MelSumner opened #122 "Implement es-codesample"
For the next iteration of these components, we should be using angle-bracket components.

## To Do
- [ ] Create a code sample component as a template-only/angle bracket component
- [ ] Update documentation (in dummy app)

## Supporting Resources
- Video: [Angle Bracket Component Invocation in Ember.js](https://www.youtube.com/watch?v=KP_3MJTMpXI)
- Video: [Template-only components in Ember.js](htt

[2018-12-01 03:53] MelSumner opened #123 "convert es-footer to be an angle bracket component"
For the next iteration of these components, we should be using angle-bracket components.

## To Do
- [ ] Convert [es-footer](https://ember-styleguide.netlify.com/docs/components/es-footer) to be a template-only/angle bracket component
- [ ] Update documentation (in dummy app)
- [ ] Submit PR to the feature branch for angle bracket components ([feature/angle-bracket-components](https://github.com/e

[2018-12-01 03:54] MelSumner opened #124 "convert es-note to angle bracket component"
For the next iteration of these components, we should be using angle-bracket components.

## To Do
- [ ] Convert [es-note](https://ember-styleguide.netlify.com/docs/components/es-note) to be a template-only/angle bracket component
- [ ] Update documentation (in dummy app)
- [ ] Submit PR to the feature branch for angle bracket components ([feature/angle-bracket-components](https://github.com/ember

[2018-12-01 18:18] #50 closed

[2018-12-01 18:20] MelSumner commented on #38
Yes, you're right! Thanks!

[2018-12-01 18:20] #38 closed

[2018-12-01 18:55] jbailey4 commented on #124
@MelSumner I can take this one! I'll need some direction though on how we want to make this a "template-only" component since it looks like it has some logic in the component js...

[2018-12-01 23:05] esbanarango commented on #123
I'll tackle this one ☝️

[2018-12-06 11:53] hakubo commented on #117
I can take this one.

[2018-12-12 14:18] #120 closed

[2019-01-19 16:21] MelSumner opened #134 "update readme to clarify how CSS should be written for this repo"
update the readme to clarify what style of CSS should be written for this project.

[2019-02-06 15:51] hakilebara opened #141 "create a table-of-content component"
The following ember-learn apps:
* guides
* deprecations
* api

use their own table of content component. I suggest moving this component to a single implementation in the styleguide.

**Note**: The current implementations of table-of-content use http://embermap.github.io/ember-collapsible-panel

[2019-02-06 17:45] MelSumner commented on #141
Thank you for writing this issue! I believe this is a duplicate of issue #99 though.

[2019-02-06 17:45] #141 closed

[2019-03-18 16:59] dbollinger commented on #16
I think this one is still sort of blocked by #43

[2019-03-19 00:40] alexpark90 opened #148 "Accessibility bugs on a button and links"
There are three accessibility errors on a navbar toggle button and links on footer component.
This issue originally opened in [ember-website](https://github.com/ember-learn/ember-website/issues/234), but fix is required on styleguide.

Please see the screenshot below.

![accessibility](https://user-images.githubusercontent.com/11951198/54572471-110a1c80-49be-11e9-98b4-06a87a0ff80f.JPG)

[2019-03-19 00:42] alexpark90 commented on #148
@jenweber , I have opened issue here. I would work on them and create pr soon if that is okay.

[2019-03-24 21:52] #148 closed

[2019-03-24 21:52] acorncom commented on #148
Closed by the pr above

[2019-04-06 17:36] jneurock opened #153 "First link in navbar dropdowns appears "active" on dropdown open"
**Notes:**
* By "active" I mean the appearance seems to indicate a hovered state or a state where the link matches the current route.
* I'm using Chrome 72 on macOS Mojave.

## Expected Behavior
When opening a navbar dropdown, only navbar dropdown links that are hovered or match the current route appear "active".

## Actual Behavior
When opening a navbar dropdown, the first link in the list appear

[2019-04-12 01:19] Charizard commented on #122
@MelSumner What would the designs look like for this?

[2019-04-12 01:49] Charizard commented on #153
@jneurock Seems like this is being done on purpose [here](https://github.com/ember-learn/ember-styleguide/blob/master/addon/components/es-navbar/link/component.js#L102-L107). I am guessing for accessibility purposes? If so, @MelSumner should be able to clear this up.

[2019-04-12 22:40] mansona opened #158 "[redesign] Improve the new tabs component so that it is accessible"
The interaction for the tabs component has been added in https://github.com/ember-learn/ember-styleguide/pull/157 and this work needs to be improved so that it is fully accessible.

For guidance on how to make a tabs component accessible please refer to https://www.w3.org/TR/wai-aria-practices/examples/tabs/tabs-1/tabs.html

[2019-04-13 06:33] jneurock commented on #153
Thanks! I can see this was purposeful and I don't have any opinion on the JavaScript side of deliberately providing focus to the element. It's the CSS I'm looking at in this case. By making the first link appear "active", it confuses which page is currently being viewed, IMO.

[2019-04-13 11:42] mansona commented on #153
So this component was originally designed to be as close as possible to https://www.w3.org/TR/wai-aria-practices/examples/menubar/menubar-1/menubar-1.html

It seems that when you click that navbar example it **doesn't** automatically select the first element, which means this is, in fact, a bug

[2019-04-25 20:57] #124 closed

[2019-04-26 01:29] #118 closed

[2019-04-29 13:38] MelSumner opened #164 "Create component inventory (Part 1)"
- [x] Review the site
- [x] Produce a list of the components on each page
- [x] Identify which components are duplicates

This will help us identify how many base components we will actually need.

[2019-04-29 13:38] MelSumner opened #165 "Part 2: Compare component inventory (Part 1) to list of existing components in the ember-styleguide repository."
- [ ] compare the component inventory to the existing ember-styleguide repo
- [ ] produce a list of components that don't exist yet.

[2019-05-02 06:35] ghislaineguerin opened #166 "Fix toggle button on es-navbar component"
## Expected Behavior
- Toggle button should be hidden on resolutions larger than mobile
- Toggle button should expand the navigation menu when clicked

## Actual Behavior
- Toggle button is visible at all resolutions
- Toggle button does not expand or collapse the navigation menu

## Steps to Reproduce
(to be added)

[2019-05-02 06:37] ghislaineguerin opened #167 "Fix dropdown menu behavior on es-navbar component"
## Expected Behavior
- Dropdown menu should be displayed when hovering over the menu items

## Actual Behavior
- Dropdown menu is only displayed when clicking on the menu items

## Steps to Reproduce
(to be added)

[2019-05-02 08:06] ghislaineguerin opened #168 "Add font sizes and styles to typography section"

[2019-05-02 12:14] MelSumner opened #169 "Add link to help-wanted in navbar"
## Expected Behavior
https://help-wanted.emberjs.com/ should appear in the navbar under Community as "Help Wanted" OR replace the "Contribute" link.

## Actual Behavior
https://help-wanted.emberjs.com/ is not linked from the navbar.

[2019-05-17 10:34] esbanarango commented on #169
I can help with this one ✋

[2019-06-05 19:10] #169 closed

[2019-06-13 19:35] #10 closed

[2019-06-13 19:35] #43 closed

[2019-06-13 19:54] MelSumner commented on #75
For now we are going to leave them the same, but we will revisit this issue as we work on the re-design. Thank you for understanding!

[2019-06-13 19:54] #75 closed

[2019-06-13 19:55] MelSumner commented on #92
We still need to do this.

[2019-06-13 20:00] MelSumner commented on #7
We should also work on an updated design for this component that works with the website re-design.

[2019-06-13 20:28] rwwagner90 commented on #10
@MelSumner was this completed?

[2019-06-13 21:01] MelSumner commented on #59
It looks like the styles are now in both addon/styles and app/styles which is the least desirable thing we could be doing.

[2019-06-13 21:04] MelSumner commented on #16
I think it's okay to implement w/o theme support. It can be used or not used. :)

[2019-06-13 21:07] MelSumner commented on #167
For reference, the navbar component should behave like this: http://w3c.github.io/aria-practices/examples/menubar/menubar-1/menubar-1.html

[2019-06-24 19:01] jenweber opened #183 "Navbar formatting broke"
<img width="1061" alt="Screen Shot 2019-06-24 at 3 01 23 PM" src="https://user-images.githubusercontent.com/16627268/60044702-f4524480-9690-11e9-9ef6-c92d90c43fc0.png">

[2019-06-24 20:50] #183 closed

[2019-07-05 05:37] BradenLawrence opened #191 "Sidebar redesign mockups"
Adding some mockups for the sidebar redesign. These use the navbar from the [Website Redesign RFC](https://github.com/emberjs/rfcs/blob/master/text/0425-website-redesign.md), and the current Releases page as sample page content.

Objectives for this redesign:
- Create a sidebar that can unify the 4 currently in use on emberjs.com
- Should allow for 2, and up to 3 levels of links
- Items should be

[2019-07-06 17:44] MelSumner commented on #164
I think we have this list completed, so I'm going to close this issue.

[2019-07-06 17:44] #164 closed

[2019-07-29 20:54] mansona opened #198 "[redesign] Address the "mobile first" strategy for the redesign styles"
This is currently a placeholder issue that will be edited to explain more of the issue at hand.

@pichfl and @ghislaineguerin can you coordinate with me and I can fill out this issue more after a short conversation 👍

For more information in the meantime, you can follow the conversation in this pr: https://github.com/ember-learn/ember-styleguide/pull/197

[2019-08-01 14:10] #109 closed

[2019-08-15 08:37] mansona commented on #198
I think this has now been solved with the new layout classes 👍 if we need to open a new more specific issue in the future we can

[2019-08-15 08:37] #198 closed

[2019-08-16 09:38] mansona commented on #158
I'm closing this one for now because the corresponding component has been removed for now 👍

[2019-08-16 09:38] #158 closed

[2019-08-16 09:53] mansona commented on #117
This is likely not needed any more because of #200

Let me know if anyone has any questions :+1:

[2019-08-16 09:53] #117 closed

[2019-08-29 17:56] #123 closed

[2019-08-30 14:25] mansona commented on #168
This is already completed 👍 https://deploy-preview-145--ember-styleguide.netlify.com/concepts/typeography

[2019-08-30 14:25] #168 closed

[2019-08-30 14:25] MelSumner opened #208 "Define default body background color and text color"

[2019-08-30 14:30] MelSumner opened #209 "Sidebar Requirements"

[2019-08-30 14:42] mansona commented on #134
We should update https://github.com/ember-learn/ember-styleguide/blob/website-redesign-rfc/docs/css/overview.md to describe requirements for writing CSS in this project (mobile-first, relative units) and refer to this file from the readme

(note this is on the redesign branch 👍 )

[2019-08-30 15:01] mansona opened #210 "[redesign] Implement the card component"
![Screenshot 2019-08-30 at 16 00 58](https://user-images.githubusercontent.com/594890/64030929-68044800-cb3f-11e9-9cef-bc9b329ed2c7.png)
![Screenshot 2019-08-30 at 16 01 05](https://user-images.githubusercontent.com/594890/64030937-6a66a200-cb3f-11e9-94d2-cc5b92c2da7e.png)

## Todo

- [x] have the ability for a card image that can be on top or to the left
- [x] decide if we're going to have an api

[2019-08-30 15:10] mansona opened #211 "[redesign] Add note to typography section regarding minimum font size and weight for accessibility"
at the top of https://deploy-preview-145--ember-styleguide.netlify.com/concepts/typeography refer to https://deploy-preview-145--ember-styleguide.netlify.com/concepts/colours and make sure that the contrast ratio (FAIL, AA and AAA) is described correctly

[2019-08-30 15:21] mansona opened #212 "[redesign] Decide on the breakpoints for various sizes (e.g. mobile)"
It is also probably worth documenting this decision on https://deploy-preview-145--ember-styleguide.netlify.com/css/overview or somewhere similar

[2019-09-05 05:58] ghislaineguerin commented on #191
Hi @BradenLawrence, thanks for working on these. I have drafted a list of requirements that the new sidebar design needs to consider on issue #209
Feel free to refer to [the styleguide](https://deploy-preview-145--ember-styleguide.netlify.com/) in order to apply typography, colors and spacing to your design.
If anything is missing from the styleguide that prevents the implementatio of all requirem

[2019-10-09 14:55] pichfl commented on #209
#### Guides
![tutorial @wide](https://user-images.githubusercontent.com/194641/66492791-4474db80-eab5-11e9-8b99-885a63fb4823.png)

#### Blog
![blog @wide](https://user-images.githubusercontent.com/194641/66492799-450d7200-eab5-11e9-97e7-5bb9e8f0146a.png)

#### Docs
![docs @wide](https://user-images.githubusercontent.com/194641/66492796-450d7200-eab5-11e9-8b60-40d07eca47c6.png)

##### Mobile menu v

[2019-10-17 11:31] #211 closed

[2019-10-23 14:23] pichfl opened #222 "[redesign] Move to Inter font family"
The latest iteration of the design made for the new website RFC contains a new font family to represent the professional look and feel of the Ember.js website. It is called [Inter](https://rsms.me/inter/), is free and open source and crafted with special care for screen based UI.

Since we are nearing launch, we need to replace the currently used Open Sans with the appropriate cuts of Inter across

[2019-10-24 13:09] mansona commented on #222
closed in #225

[2019-10-24 13:09] #222 closed

[2019-10-24 22:00] mansona opened #229 "Part 3: Create Issues based on analysis from parts 1 and 2."
At this point, the documentation should exist that identifies components needed for each page.

[2019-10-24 22:02] mansona commented on #212
I think we already have a reasonable handle on breakpoints for the redesign 🤔 @pichfl or @ghislaineguerin feel free to reopen this issue if you disagree

[2019-10-24 22:02] #212 closed

[2019-10-24 22:02] mansona commented on #208
fixed in #213

[2019-10-24 22:02] #208 closed

[2019-10-25 13:56] mansona commented on #166
Closed in #227

[2019-10-25 13:56] #166 closed

[2019-10-28 15:32] mansona commented on #210
closed in #218

[2019-10-28 15:32] #210 closed

[2019-10-28 21:09] mansona opened #231 "padding around edges in mobile view"
Currently the `.container` class is the main class that we use to enforce the fixed width of the website. On desktop this looks great with the `margin: auto` centring the content effectively :tada:

on mobile (or at any time that the margin has collapsed to nothing) the content is jammed right up against the edges of the UI

[Example of text right up against the edge of the screen](https://user-im

[2019-10-28 22:36] mansona opened #232 "fix bg-swipe-top"
the bg-swipe-top doesn't seem to be working when trying to use it in `ember-website`

[2019-10-28 22:36] mansona opened #233 "release styleguide as an alpha"

[2019-10-28 22:37] mansona commented on #233
Now released as a pre-release https://github.com/ember-learn/ember-styleguide/releases/tag/v4.0.0-0

can be used by installing with `npm i ember-styleguide@beta` 👍

[2019-10-28 22:37] #233 closed

[2019-10-28 22:38] mansona commented on #232
it looks like this was fixed by #233 🎉

It must have been something really strange from Netlify caching the svg when using a github dependency 😫

It's fixed now so we can ignore 😂

[2019-10-28 22:38] #232 closed

[2019-10-28 22:39] mansona opened #234 "fix logo stretching in ember website with latest styleguide"

[2019-10-28 22:40] mansona commented on #234
I think this issue was also fixed by #233 because it seems like the problem has gone away 🎉

[2019-10-28 22:40] #234 closed

[2019-10-29 12:05] mansona opened #235 "Properly document our grid system"
I noticed that we don't actually document the fact that our Layout is based on 6-columns anywhere in the Layout docs :see_no_evil:

We also don't document the difference between large and small screens i.e. on large screens we have 6-columns and on small screens we have 4.

We should also document how to influence the number of columns on a particular screen size i.e. the difference between col-3

[2019-10-29 12:17] pichfl commented on #231
The `.container` should not have a fixed size on mobile, only padding. The padding on each side on narrow screens equals half the width of the column gap and comes at 12dp which is, in our case, `1.5rem`.

![image](https://user-images.githubusercontent.com/194641/67765900-86a69280-fa4d-11e9-8b64-de0ce2c8899f.png)

On larger screens, the column gap is 32dp or `4rem`, I'd use the same calculation an

[2019-10-29 13:55] pichfl commented on #231
This should not in any way touch the grid aspects of the implementation, the grid I'm talking about is only relevant in terms of the design.

[2019-10-29 20:07] mansona opened #236 "add underlines back to links as per the design"
If you look at the Percy diff in https://github.com/ember-learn/ember-website/pull/451 you will see that a recent release of the ember-styleguide has removed the underline on links

we need to add them back as per the new design :+1:

[2019-10-30 09:05] mansona opened #237 "Implement (and document) the "flip" order helper for our grid"
I discussed this with @pichfl a while ago and it was a solution to make sure that we could have the correct ordering of text and images on mobile when using grid

the best example is the new homepage in the "Ember Ecosystem" section: https://deploy-preview-451--ember-website.netlify.com/

If you view this on mobile it will be in the order:

- Text
- Image
- Image
- Text
- Text
- Image

but it shou

[2019-10-30 14:22] mansona commented on #231
closed in #238

[2019-10-30 14:22] #231 closed

[2019-10-31 10:28] mansona commented on #236
closed in #240

[2019-10-31 10:28] #236 closed

[2019-10-31 16:16] MelSumner commented on #237
Since order matters for accessibility, we should ensure that DOM order stays the same whether on mobile or desktop.

[2019-10-31 16:19] MelSumner opened #241 "Link color in text is not meeting color-contrast criteria"
The text link color does not have enough contrast, and is missing underlines. Also, the font-size is too small.

To fix:
- [ ] increase the color contrast of links
- [ ] ensure that the font size is 18px and line height is 1.5 for paragraph text
- [x] add underlines back in to the links in the paragraph text

[2019-10-31 16:53] mansona commented on #15
@MelSumner yes I would consider this done 👍

[2019-10-31 18:31] MelSumner opened #242 "Re-visit font sizes"
The font sizes are off now that the correct font is introduced. Please revisit the sizes and adjust appropriately.

[2019-11-04 10:02] pichfl commented on #241
- the link color for links in regular text is yet to be defined
- the (previously approved) design calls for a base font size of 15px and we enforce usage of `rem` based units, which in turn allows users to scale as necessary.
- yes, please. Underlines should always be the default for links in prose.

In short, I need to prepare additional design to ensure that we provide links that fit and match

[2019-11-04 13:35] MelSumner commented on #241
I don't remember approving a base font size of 15px- I know I wouldn't have approved that. At the minimum 16px, and ideally 18px has been my approach for years (esp for a11y reasons).

[2019-11-04 14:16] pichfl commented on #241
See https://share.goabstract.com/963cd6c9-6198-42e1-997c-eb0705bff1d8?mode=build&sha=48031bc1d5bd8cf9e9be5451af4450def9b69509

I don't think any starting font size is inaccessible unless it is fixed and we are using a completely relative approach, so fonts can be scaled using the features baked into any browser, which at least to me is the more important factor than the base size. Not to mention t

[2019-11-04 15:31] MelSumner commented on #241
I'm very sorry, I don't know how I missed it, but the recommended base font size for A11y is 18px and 1.5 (unitless) line height. I'm typically willing to go down to 16px but not any smaller than that. Even if it needs a little re-work, it will be worth it.

[2019-11-04 16:27] pichfl commented on #241
I did provide fine tuned line-heights for all available font sizes and provided matching CSS custom properties.

A line-height of 1.5 is always a good start, but every font requires fine tuning for readability beyond that. In our case, moving from 15px to 16px might require a line-height shift from 24px to 25px (1.5625) or 26px (1.625) to make the line spacing look and read good for the x-height o

[2019-11-07 22:21] mansona opened #244 "Add a "video-ratio" helper class"
As part of https://github.com/ember-learn/ember-website/pull/456#pullrequestreview-309402076 we identified that there was a potential need to add new "ratio helper classes"

After a long discussion, we decided that it is not necessary to add many general-purpose ratio helper classes but instead we just need one that can be used to ensure that videos retain their 16:9 aspect ratio

[2019-11-07 22:22] mansona commented on #244
@pichfl i was going to assign this to you because we discussed it but I guess @ghislaineguerin could also take it 🎉

[2019-11-07 23:15] pichfl commented on #244
As we most likely can expect video embeds to be 16:9, we can narrow it down to this:

[code]

[code]

Typing this up I realize I can just push out a PR for that.

[2019-11-15 15:00] #244 closed

[2019-11-15 20:16] pichfl opened #247 "Separate cards from figures"
As the design progressed, it became obvious, that the Card component tries to accomplish to many things at once.

I therefore propose having an `<EsCard />` component and another `<EsFigure />` component, which both have different use cases.

### Cards

Cards should behave depending on the available container space. Orienting their content horizontally insider larger containers (think three deskto

[2019-11-16 20:57] jenweber opened #248 "Button size variations don't seem to be working"
## Expected Behavior
I wanted to be able to use small and large buttons that I used in previous versions.

## Actual Behavior
Only one size was available.

## Steps to Reproduce
If you run the latest website-redesign-rfc branch and visit the buttons page, you can see the buttons all look the same

[2019-11-18 10:22] jneurock commented on #153
At some point, the styling issue I was having appears to have been fixed.

![image](https://user-images.githubusercontent.com/326789/69044680-a2220f00-09f5-11ea-9b0e-b4f32584ab20.png)

[2019-11-18 10:22] #153 closed

[2019-11-20 15:29] pichfl commented on #15
We might have to look at this once more, the current implementation tries to achieve a little too much as described in #247

[2019-11-20 15:29] MelSumner commented on #92
@mansona perhaps we should upstream this to field-guide?

[2019-11-20 16:06] MelSumner opened #250 "logos in footer are too small"
The company logos (on the bottom right- heroku, fastly, etc) in the `es-footer` component are too small.

Screenshot:
![image](https://user-images.githubusercontent.com/4587451/69255332-41bdd980-0b7d-11ea-8267-a54234f72b52.png)

[2019-11-20 16:09] pichfl commented on #248
Thanks @MelSumner for pointing me to this.

@jenweber The redesign does not feature buttons in multiple sizes yet. Can you provide me with an example page where they are necessary?

[2019-11-21 15:04] pichfl opened #253 "Icon sizing options"
As the previously available text size helpers will be more specific to text sizing to ensure they are used in the right way in #249, we need new helpers to size icons and other smaller elements.

These should be scoped to only do that, as we should not have generic helpers unless absolutely necessary.

[2019-11-22 19:20] pichfl opened #254 "Spacing helpers do not override in all situations"
## Expected Behavior

`p-*` and `m*` should allow overriding spacing on `.container`.

## Actual Behavior

They don't

## Steps to fix

Move includes for both helpers to the end of the `addon.css` file so they can properly override in all situations.

[2019-11-22 19:22] pichfl opened #255 "es-button styling is broken when used on anchors"
## Expected Behavior

Applying `.es-button` to a `<a>` should make it look like a button.

## Actual Behavior

It looks like a link, but with the button spacing applied.

## Steps to fix

Ensure the correct pseudo-states are applied to `.es-button`. `:link, :visited, :active` all need to have the correct background.

[2019-11-22 19:59] sivakumar-kailasam opened #256 "Declare mono font family as a css variable"
## Expected Behavior
Mono font family should be declared as a css variable

## Actual Behavior
It is declared inline

[2019-11-25 22:53] mansona commented on #256
Hey @sivakumar-kailasam I'm about to merge the PR that fixes this, but if you're using the variable upstream you need to be careful. The way that the build is working it will make sure that the vendor.css has the right fallbacks for browsers that don't support CSS variables but we're not automatically doing anything with the consuming app's CSS. We will need to discuss your pipeline and use of the

[2019-12-05 15:08] mansona commented on #241
Note: the only remaining task on this issue is to fix the link styling on `dark` backgrounds

[2020-01-06 17:46] mansona commented on #250
This is now fixed 🎉

[2020-01-06 17:46] #250 closed

[2020-01-11 04:38] mansona commented on #237
This is now done, you can see it in place on the landing page that the DOM order is always the same for the batteries included but the visual order is different 👍

[2020-01-11 04:38] #237 closed

[2020-01-16 14:54] mansona opened #264 "Fix the chrome rounding issue that is misplacing the dropdown carets on the navbar"
![Screenshot 2020-01-16 at 14 55 02](https://user-images.githubusercontent.com/594890/72535305-3aab0300-3870-11ea-9e91-fbcc2acc429f.png)

The community dropdown carat is cut off

[2020-01-16 15:05] mansona opened #265 "Add hover and active states to the button component"

[2020-01-16 15:26] mansona opened #266 "Fix the svg colour used for `bg-shape-swipe-top` to be the same as `bg-light`"

[2020-01-16 21:49] mansona commented on #265
Fixed in #260

[2020-01-16 21:49] #265 closed

[2020-01-16 21:49] mansona commented on #264
Fixed in #260

[2020-01-16 21:49] #264 closed

[2020-01-16 21:50] mansona commented on #241
Fixed in #260

[2020-01-16 21:50] #241 closed

[2020-01-17 10:18] mansona commented on #248
@jenweber this was a bit of an issue with the documentation for the longest time 🙈 I have gone through the docs and made sure it only shows examples for things that are actually working now https://deploy-preview-145--ember-styleguide.netlify.com/components/button

If we need button size variations we can open a different issue 👍

[2020-01-17 10:18] #248 closed

[2020-01-17 10:18] mansona opened #268 "fix the off by one issue on the background image crossing 2 sections"
rough suggestion (without having to edit SVG):
top one right -1px
bottom one top -1px

[2020-01-17 10:20] mansona commented on #235
Fixed in #245

[2020-01-17 10:20] #235 closed

[2020-01-17 23:12] mansona commented on #266
Fixed in #269

[2020-01-17 23:12] #266 closed

[2020-01-17 23:12] mansona commented on #268
fixed in #269

[2020-01-17 23:12] #268 closed

[2020-01-22 17:44] mansona opened #270 "Implement a Tab component that can be used across the different websites"
As part of the discussion on https://github.com/ember-learn/ember-website/pull/530 we identified that we should probably move the tab implementation into the styleguide.

I think that is a good idea but we should implement the styleguide tabs component in collaboration with someone working on another Ember website (such as the api docs) so that the API can be discussed and finalised in such a way

[2020-01-23 07:55] mansona opened #271 "Footer improvements"
The current redesigned footer does not look like the design in the Abstract document and should be made look like it :+1:

<img width="1075" alt="Screenshot 2020-01-23 at 07 56 40" src="https://user-images.githubusercontent.com/594890/72966095-ee068100-3db5-11ea-9f7b-317ae579241c.png">

- [x] muted background for middle bit
- [x] copyright and tagline are currently too far apart
- [x] move social

[2020-01-23 08:40] mansona opened #272 "Minor improvements"
- [x] Card on dark-bg should have a border that is just enough to pass `Graphical Objects and User Interface Components` contrast check (somewhere near #696969)
- [x] add "dotted texture" to the background svg for the `bg-shape-swipe-top` as it had in the original design
- [x] Use 5 column layout for headline section (balance to the left of the bg shapes like the design)

[2020-01-23 08:45] mansona opened #273 "Make sure button texts pass contrast checks (using AXE plugin)"

[2020-01-24 17:07] pichfl opened #276 "Card spacing is not quite right"
- text is wrapping
- spacing around the icon
- outer padding

[2020-01-24 20:31] mansona opened #277 "[redesign] Design and implement filter controls"
These are used on the mascots page to filter and select size

I'm not sure if this is a styleguide thing but I'm adding it to the website and @pichfl you can decide where you expect it to go

[2020-01-30 08:21] mansona commented on #272
Fixed in #274

[2020-01-30 08:21] #272 closed

[2020-01-30 08:21] mansona commented on #271
Fixed in #275

[2020-01-30 08:21] #271 closed

[2020-02-04 10:26] mansona commented on #273
fixed in https://github.com/ember-learn/ember-styleguide/pull/278

[2020-02-04 10:26] #273 closed

[2020-02-04 10:26] mansona commented on #276
Fixed in #279

[2020-02-04 10:26] #276 closed

[2020-02-06 16:40] MelSumner opened #281 "support needed for 4k screens"
Add support for 4k/large screens- width should be bigger and all font sizes scaled up.

Current experience on a large screen:
![image](https://user-images.githubusercontent.com/4587451/73958129-0e156480-48cd-11ea-9b64-be6f6a84da20.png)

[2020-02-06 18:17] pichfl commented on #281
A slightly enlarged width sounds like a good measure for this, but sitting in front of a 5K display myself, I don't see how increasing the font size helps in the user experience. The extra pixels are allotted to density, not size.

[2020-02-06 18:24] MelSumner commented on #281
The feedback was that the person would enjoy a "zoomed" type of experience when they are on an extra large screen. We can figure out the best way to do this, it might not just be "make everything bigger". 👍 Not a blocker for release though- this can be in phase 2.

[2020-02-07 11:10] mansona commented on #281
I'm going to move this into the phase 2 project just so we can keep track of what is or isn't a blocker 👍

[2020-02-12 11:45] mansona opened #283 "update CSS to appropriately render button groups/buttons on different screen sizes"
This is a continuation of a conversation on the new redesign https://github.com/ember-learn/ember-website/pull/555#discussion_r378180714

essentially we are using margins on buttons on the homepage but when they wrap they are no longer centred properly.

We will probably need some way to put buttons into a "button row" or "button group" that deals with the behaviour correctly 👍

[2020-02-12 12:42] nickschot commented on #283
Either that or responsive margin utilities (like tailwind has). The first is definitely simpler if they're not going to be used elsewhere though.

[2020-02-12 17:18] MelSumner opened #284 "EsPageHeader component should not render empty elements"
## Expected Behavior
I didn't want to use the elements provided by the component because I wanted greater control over the line breaks. So I used the component as a block component. I did not expect it to still render the h1 and p elements while empty.

## Actual Behavior
The `h1` and `p` tags rendered even though they were empty.

Screenshot:
![image](https://user-images.githubusercontent.com/458

[2020-02-12 21:02] MelSumner commented on #283
it should just be a media query. We shouldn't need util classes for this. <3

[2020-02-12 21:05] MelSumner opened #285 "Update focus outline color so it coordinates with our branding"
We're using the default focus outline at the moment, but we need to update the color so it meets the following criteria:

1. it meets color contrast criteria for accessibility purposes (so it should show up on light and dark backgrounds as appropriate)
2. it coordinates with our brand and design

Note that focus outline should never be hidden or removed.

[2020-02-12 21:30] MelSumner opened #286 "styleguide rendering issue"
## Expected Behavior
the content should stay behind the menu when it is open

## Actual Behavior
the content overlaps the menu when the menu is open

Screenshot:
![image](https://user-images.githubusercontent.com/4587451/74379008-905dc700-4dac-11ea-968c-edde24323d55.png)

[2020-02-13 09:15] mansona commented on #285
@MelSumner I had a discussion with @pichfl about this and we might need to have a discussion about secondary colours before we can (easily) fix this 🤔

I don't see a blocker tag on this so can we move it to the Phase 2 board?

[2020-02-13 17:14] mansona commented on #284
fixed in https://github.com/ember-learn/ember-website/pull/561

[2020-02-13 17:14] #284 closed

[2020-02-16 04:20] sivakumar-kailasam opened #289 "Remove isDevelopingAddon when publishing the addon"
When the redesign branch of this addon is published, it ships with the `isDevelopingAddon` hook set to return `true`.

The template errors from this addon show up in the consuming app's test suite as a result of this. Can we publish the package with that removed or driven through any config that defaults to false when not set?

[2020-02-17 14:56] MelSumner opened #290 "landing page - decide preference"
Considering the button/links on the landing page (first section), we should determine which of these two styles we prefer, the existing one or the alternate that we have on a separate branch. The alternate was developed after some specific design feedback, but it's up to us if we want to implement it.

Existing:
![image](https://user-images.githubusercontent.com/4587451/74664275-0a9e9a80-5163-11ea

[2020-02-17 15:13] MelSumner opened #291 "Survey CTA"
Ensure that the styleguide (or website) supports the annual community survey CTA (blue stripe on current site).

![image](https://user-images.githubusercontent.com/4587451/74665605-a4ffdd80-5165-11ea-9028-577b35957989.png)

[2020-02-17 16:14] mansona opened #292 "Properly pre-process the css so that @import statements don't make it to the vendor.css on build"
This is similar to what I did https://github.com/mansona/ember-cli-notifications/pull/262 but I would prefer to leave the css in `addon/styles/**/*.css` if possible

I think we can achieve this by filtering it out of the addon tree and also using a different filter to create a tree to manually run postcss on :+1:

[2020-02-18 17:56] mansona opened #294 "Make sure `bg-none` resets the link background underline styles"
we recently added a new helper `bg-none` to allow you to explicitly turn off the custom underline styles for links but because of the specificity it doesn't work.

We should make sure that we don't need to add custom CSS downstream to be able to override the underline styles e.g.

[code]

[2020-02-21 01:12] rwjblue commented on #289
TBH, we shouldn't need to have that hard coded to true at all (when locally developing it is already true).

[2020-02-24 13:23] mansona commented on #291
fixed in #594

[2020-02-24 13:24] mansona commented on #291
Actually I'm going to reopen this and move it to Phase 2 because we should probably provide a banner implementation in the styleguide to unify the implementation across the website and guides 🤔

[2020-02-26 14:59] mansona commented on #289
Fixed in #296

[2020-02-26 14:59] #289 closed

[2020-02-28 07:59] mansona commented on #290
I mentioned this to @MelSumner in a call recently: out of these two options I strongly prefer the `Existing` example. There was, however, a brief time when our secondary links looked more like the `Alternative` but where **white** when on a dark background and I remember quite liking that.

[2020-02-28 09:16] pichfl commented on #290
@mansona problem with the white links is that they do not stand out at all. I hope I have time today to propose a third alternative

[2020-02-28 10:02] mansona commented on #294
Fixedin #298

[2020-02-28 10:02] #294 closed

[2020-03-04 08:26] mansona commented on #292
Fixed in #297

[2020-03-04 08:26] #292 closed

[2020-03-24 11:30] mansona commented on #191
Hey @BradenLawrence I hope you don't mind that I close this in favour of https://github.com/ember-learn/ember-styleguide/issues/209 ? It seems like there is a lot of discussion happening over there and I want to rally behind that effort when getting contributors involved 👍

Let me know if you think I should reopen this, or if you think that there is any info missing from #209

[2020-03-24 11:30] #191 closed

[2020-03-30 22:26] sivakumar-kailasam opened #299 "New designs needed for search autocomplete"
## Current implementation

<details>
<summary>
https://api.emberjs.com
</summary>

<img width="1440" alt="Screenshot 2020-03-30 18 18 05" src="https://user-images.githubusercontent.com/604117/77967373-fba71e00-72b2-11ea-9df9-67a5b310f956.png">
</details>

<details>
<summary>
https://guides.emberjs.com
</summary>

<img width="1440" alt="Screenshot 2020-03-30 18 18 30" src="https://user-images.githu

[2020-03-31 08:28] mansona commented on #229
I don't' think this issue is relevant any more 👍

[2020-03-31 08:28] #229 closed

[2020-04-01 15:57] mansona opened #300 "Release the new styleguide as a stable version v4.0"
We can use this issue to write some checklists for the release if we would like, but it is most likely going to be used as a placeholder in projects and for something to reference from other issues 👍

[2020-04-01 16:05] mansona opened #302 "Add EsNote back to the styleguide"
In order to get the 4.0 release out the door we had to temporarily remove the `<EsNote />` component from the redesign branch of the styleguide https://github.com/ember-learn/ember-styleguide/pull/301

We need this to be re-implemented for the Guides and Deprecations app

[2020-04-02 14:36] mansona commented on #299
I am closing this issue in favour of repo-specific issues:

- https://github.com/ember-learn/guidemaker-ember-template/issues/41
- https://github.com/ember-learn/deprecation-app/issues/558
https://github.com/ember-learn/ember-api-docs/issues/691

This is mainly because we can't have a single shared solution for search results 😞 unfortunately

[2020-04-02 14:36] #299 closed

[2020-04-07 12:56] alexeykostevich commented on #255
The issue has been fixed within https://github.com/ember-learn/ember-styleguide/pull/257 and can be closed.

[2020-04-07 13:56] #255 closed

[2020-04-10 04:23] alexeykostevich commented on #119
@MelSumner , `es-button` has been converted into a Glimmer component in https://github.com/ember-learn/ember-styleguide/commit/bd389faa1e3d0760a56ab0c3e276ee78d62d38e2 and its documentantion in https://github.com/ember-learn/ember-styleguide/commit/645fa88fd25a5b4571f31aa3f5ecfd54e5b309bb.

These changes are available in the [upgrade](https://github.com/ember-learn/ember-styleguide/tree/upgrade) b

[2020-04-10 04:27] alexeykostevich commented on #121
@MelSumner , `es-card` has been converted into a Glimmer component in https://github.com/ember-learn/ember-styleguide/commit/43537c9e5bfd3ac0290adea14fb9a9e6bac09489 and its documentation in https://github.com/ember-learn/ember-styleguide/commit/8481b8221bdb320f3e73820e1e8412c48a335ef6.

These changes are available in the [upgrade](https://github.com/ember-learn/ember-styleguide/tree/upgrade) bran

[2020-04-10 05:32] alexeykostevich commented on #116
@MelSumner , here are some links for convenience:
- [es-accordion source](https://ember-styleguide.netlify.com/docs/components/es-accordion)
- [es-accordion docs](https://ember-styleguide.netlify.com/docs/components/es-accordion)

Currently, `es-accordion` is not used in [ember-learn](https://github.com/ember-learn) projects.

It seems that the component is not a fully generic implementation of an

[2020-04-10 05:44] alexeykostevich commented on #16
The [es-header](https://github.com/ember-learn/ember-styleguide/blob/upgrade/addon/components/es-header.js) component has been implemented.

So, it seems the issue can be closed.

[2020-04-10 14:05] alexeykostevich commented on #167
@MelSumner , @pichfl , I could have a look at this issue.

@pichfl , please, could you let me know whether showing a submenu on hover is expected in the latest design?
- If yes, we could implement the menubar design pattern (which @MelSumner mentioned above):  http://w3c.github.io/aria-practices/examples/menubar/menubar-1/menubar-1.html
- If no, we could implement the disclosure design pattern: ht

[2020-04-10 14:09] pichfl commented on #167
¯\_(ツ)_/¯ the original mockup didn't provide any information on this, but personally I'd go with the menubar pattern for larger screens.

[2020-04-10 16:10] alexeykostevich commented on #167
One of the big challenges of implementing the [menubar](http://w3c.github.io/aria-practices/examples/menubar/menubar-1/menubar-1.html) pattern for ‘<EsHeader />’  is significant differences in its behaviour for large and small screen.

- The desktop version uses a horizontal layout, while the mobile version uses a vertical one. As a result, the component should use different strategies of keyboard

[2020-04-10 16:28] MelSumner commented on #167
@alexeykostevich we shouldn't need two components- CSS should be able to handle the layout differences- let me know if I can help with that. 👍

[2020-04-10 18:02] MelSumner commented on #116
We want this component for use in projects that haven't been fully realized yet. If you want to take it on that would be great!! 👍

[2020-04-10 20:02] #16 closed

[2020-04-12 04:41] alexeykostevich commented on #167
Thank you for your message, @MelSumner ! Sorry for confusing you with my message: I meant differences in accessibility features not layout.

The example of a [menubar](http://w3c.github.io/aria-practices/examples/menubar/menubar-1/menubar-1.html), which you mentioned above as an  example, implements quite sophisticated (this is state-of-the-art accessibility!) keyboard support.

Here is just a sub

[2020-04-12 06:34] alexeykostevich commented on #116
Ok let's do this! I'm starting working on a new `<EsAccordion />`.

[2020-04-13 15:29] alexeykostevich commented on #116
@MelSumner , I've finished the draft version of a new `<EsAccordion />` component and will create the PR shortly.

Overall, the component will support:
- Single and multiple expanded panels simultaneously (configurable)
- Custom templates for a panel header
- Custom templates for a panel content
- DDAU-driven binding for expanded panels

Here is how its API looks like:

[code]

Here is how its des

[2020-04-14 00:33] alexeykostevich commented on #116
https://github.com/ember-learn/ember-styleguide/pull/301 removes not documented components including the legacy `<EsAccordion />`. So, it would be helpful to get it merged first before creating a PR for a new Octane version of the component.

[2020-04-14 08:51] pichfl commented on #116
@alexeykostevich that looks good. I haven't done any design on this so far as it wasn't brought to my attention this would be a required module. Even so, it is an excellent application of the design styles I created 👍

[2020-04-14 12:44] mansona commented on #116
@pichfl the reason this wasn't brought to your attention was that there is currently nowhere in any of our apps that actually uses an accordion 🙈

We have something in the planned designs where we will need collapsible headers in the sidebar but I personally think that this ought to be implemented in the sidebar component and **not** in a separate accordion component.

@alexeykostevich you're righ

[2020-04-14 13:32] alexeykostevich commented on #116
@mansona , thank you for the details! No worries at all, I could be a little hasty with this 🙈

I totally agree that collapsible headers should be implemented in the `<EsSidebar />` component itself. So, `<EsAccordion />` is not needed for this functionality.

With regards to `<EsAccordion />` component, it is... ready (but without tests so far). However, I'm all for avoiding pushing unused code j

[2020-04-14 14:24] MelSumner commented on #116
@alexeykostevich this looks great! I'll give it a review later today. In the meantime, if you wanted to add some tests (especially try out some ones that would confirm that the keyboard interactions work as expected) that would be great! Great job!

[2020-04-14 14:46] alexeykostevich commented on #116
@MelSumner , I‘ll cover the component with tests (it’s actually my favourite part of work 🙃) when we decide to move forward with this.

As @mansona pointed out, there are no places in the new website design at this point where we might need an accordion. Taking this into account, it makes sense to put this on hold for now and return to this when needed.

Honestly, this will not hurt my inspiration

[2020-04-16 12:46] alexeykostevich commented on #286
@mansona , just for sharing... I've created a PR https://github.com/empress/field-guide-default-template/pull/8, which addresses this issue.

[2020-04-16 12:51] alexeykostevich commented on #302
@mansona , could I help with this issue? If yes, please, let me know whether any major changes in the design or functionality of `<EsNote />` are expected comparing to its current version: https://ember-styleguide.netlify.app/docs/components/es-note

[2020-04-16 13:11] alexeykostevich commented on #254
The issue has been fixed in https://github.com/ember-learn/ember-styleguide/commit/8fc5677d786ac309e58c8bfd52d49076600ccbd7 by @mansona .

So, we can close the issue.

[2020-04-16 14:10] mansona opened #307 "Improve the design for the EsNote component"
As part of the [Ember Octane upgrade PR to the styleguide](https://github.com/ember-learn/ember-styleguide/pull/288) I needed to update the design of the EsNote component https://github.com/ember-learn/ember-styleguide/pull/306

This update was a "first pass" and it will need an improved design that fits in with the overall look and feel of the guides redesign :+1:

[2020-04-16 14:21] alexeykostevich commented on #247
Thank you for the great summary, @pichfl ! Great job! 🚀

According to the description, `<EsCard />` should describe the summary of referenced content and represent a single link.

The existing`<EsCard />` does not represent a link. Instead, it contains a link (represents summary) or multiple links (represents a group of references).

<img width="1022" alt="Screen Shot 2020-04-16 at 11 46 04 pm" sr

[2020-04-16 14:23] alexeykostevich commented on #247
If my assumption above is correct, here are the places where could use these components.

# Cards

**Place 1 ([Homepage](https://emberjs.com/)):**
<img width="999" alt="Screen Shot 2020-04-16 at 11 45 51 pm" src="https://user-images.githubusercontent.com/5205189/79464498-7905b900-803d-11ea-8dcb-40df70293797.png">

**Place 2 [Homepage](https://emberjs.com/):**
<img width="1014" alt="Screen Shot 202

[2020-04-17 13:47] pichfl commented on #247
We made some distinction here, that was made after this issue was created. There are now horizontal cards (which have a single link that spans the whole card through some css trickery for a11y reasons) and the vertical ones, which can contain multiple links.

The vertical ones (found on the homepage) are not equal to figures as the content does not describe the image like a caption would do for a

[2020-04-17 13:49] pichfl commented on #247
I'm actually not sure if this issue should remain open, all cases were covered using the classes and components available in the style guide. @mansona what do you think?

[2020-04-17 15:56] mansona commented on #302
Sorry I should have closed this 🙈 it is being addressed by #306

[2020-04-17 15:56] #302 closed

[2020-04-17 21:57] #254 closed

[2020-04-21 14:14] MelSumner opened #309 "standardize spelling"
I noticed a few instances of "colours" and "colors" - we should be using the same standards as the rest of the core Ember projects (American English).

To fix, find instances of "colours" and change to "colors".

There may be other cases as well, for example, words that would usually be spelled with a "z" having an "s" instead.

[2020-04-22 13:44] MelSumner opened #310 "extract some of the styles into smaller packages"
Let's take a page from Ember itself and break up some of these things into smaller packages- it'll give us some room for experimentation.

Todos
- [ ] extract the colors into a new package `ember-styleguide-branding` or similar.
- [ ] publish the new package
- [ ] add the new package to ember-styleguide as a dependency

[2020-04-22 16:38] mansona commented on #310
I really don't she with this approach.

Can we please discuss this in either a website redesign meeting or a learning team meeting before we create an issue and label it as help wanted?

[2020-04-23 14:14] mansona opened #311 "Create a better component that shows all of the shades and tints for a colour"
Currently on the "Colours" page in the documentation, we have a single "Colour Pallet" display for each different shade of grey (grey-100 through grey-900). This makes the page a bit too bulky and hard to use, especially when we start adding new secondary colours (see #305)

We need to add a component that can display a full range of shades/tints of a colour while still showing the  accessibility

[2020-04-23 14:28] #256 closed

[2020-04-23 19:54] mansona commented on #300
Done 🎉

[2020-04-23 19:54] #300 closed

[2020-04-25 16:07] jayjayjpg opened #313 "Tracking Issue: Applying Website Redesign to Ember Learn Apps"
With the [latest release of the website redesign via ember-styleguide](https://github.com/ember-learn/ember-styleguide/releases/tag/v4.0.0), the community is now able to apply the latest design changes to not only the [Ember website](https://github.com/ember-learn/ember-website/pull/361), but also to all other remaining Ember Learn apps.

Edit: the tracking of the work remaining on the redesign wi

[2020-04-26 13:50] MelSumner opened #314 "Ember Styleguide is mis-labeled in the documentation app"
## Expected Behavior
The Ember Styleguide should have the title of Ember Styleguide

## Actual Behavior
The Ember Styleguide currently says "Ember Field Guide"

## Steps to Reproduce
Visit https://ember-styleguide.netlify.app/ and look in the top left of the page. (first items in the DOM)

[2020-04-26 14:43] alexeykostevich commented on #314
Here is where the issue comes from:
https://github.com/empress/field-guide-default-template/blob/6de4cdf18fb67d808be21dd98fbc5481cc78041d/addon/templates/application.hbs#L10

@mansona , what do you think about the following solution?

1. Set `name` of the [Field Guide configuration](https://github.com/empress/field-guide#configuring) to `Ember Styleguide` in this repository. It can be done [here](

[2020-04-26 16:49] MelSumner commented on #314
@alexeykostevich it already indicates that it's powered by the Field Guide in the footer, so I don't think we'd need extra work there. 👍

[2020-04-29 12:21] #314 closed

[2020-04-29 13:11] #309 closed

[2020-04-29 13:24] mansona opened #318 "Setup a redirect from /colours/ to /colors/"
As a result of https://github.com/ember-learn/ember-styleguide/pull/315 we have updated the spelling of `color` in the application. This is all fine for the content but if we update any URL we should make sure that there is a redirect in place in all cases 👍

This task will be complete when https://ember-styleguide.netlify.app/concepts/colours/ redirects to https://ember-styleguide.netlify.app/con

[2020-04-29 13:27] MelSumner commented on #318
@mansona since it's a bug not a feature, do you think we should use a general redirect?

[2020-04-29 13:30] mansona commented on #318
in all cases we should include redirects, it's something that we should just be in the general habit of (in my opinion). It covers anyone who has sent any links to people, anyone who has bookmarked a page, and any related SEO concerns that we have.

It may have only been live for a very short amount of time but it the redirect should be added 👍

[2020-04-29 13:44] alexeykostevich commented on #318
@mansona , this is totally up to the team but I let me share my thoughts about this.

Conceptually, `ember-styleguide` is not a website for general public (at least at this point) -- it is an internal website only used by the Ember Learning team and contributors. So, I think adding redirects can bring more complexity than value for this project and limit team's flexibility as the project evolves (

[2020-04-29 13:53] mansona commented on #318
I just noticed that the incorrect URL navigates to the home page now 🙈 that is actually **significantly worse** because it ends up being counted as duplicate content in Google searches and that will significantly affect our rankings.

As for if this is a good or a bad idea, that's probably something to discuss at our weekly meetings 😂 I see your point that it's not "public-facing" but I would argu

[2020-04-30 08:37] mansona commented on #313
👋 @jayjayjpg I have updated the description of this issue (as we discussed) to remove any information that wasn't correct in case people are pointed in the wrong direction.

Now based on our conversation, we talked about not duplicating the organisation of the project. Would you mind if I closed this issue? or do you see there being a benefit in keeping this information around? If so then I would

[2020-04-30 14:54] MelSumner opened #320 "Update README for project"
The README for this project needs to be updated.

[2020-04-30 15:35] jenweber opened #321 "Add an edit pencil to the icons folder"
For the CLI and Ember Guides, we need an "edit" pencil that is displayed in the top right corner.

If someone can provide the SVG, this work is just to drop it into the icons folder, make sure it is usable, and request a release after the work has been merged.

[2020-04-30 19:55] jayjayjpg commented on #313
@mansona Can we put the issues that I mentioned in this tracking issue and which are still relevant for applying the website redesign onto the project board, so other contributors we already talked with and me have a visual cue on what I can work on next? I agree that we shouldn't duplicate content and when we moved all of the todos over there, and created the documentation from the ticket above i

[2020-04-30 22:02] mansona commented on #313
@jayjayjpg so for each of the projects there were 3 issues listed:

- update to 3.16
- set up a preview app for the new redesign
- "apply the redesign" issues

We discussed that the first one isn't relevant any more 🎉 I closed all the preview app issues because they were done (they were already done because each of the apps are using netlify 🎉 ) and I haven't done anything about the third issue ty

[2020-05-01 08:00] #321 closed

[2020-05-01 14:51] mansona opened #324 "Create a `no-link-underline` CSS helper"
There are enough cases where we would like to be able to turn off the default link underline behaviour in designs that it makes sense for us to add a helper that sets `background: none` to overcome this for us.

You can see a good example of the need for this helper in the discussion on https://github.com/ember-learn/empress-blog-ember-template/issues/26

If you implement this helper you will need

[2020-05-14 17:27] alexeykostevich commented on #324
Currently, the Ember Styleguide provides the `.bg-none` CSS helper to turn off link-underline styles:
https://ember-styleguide.netlify.app/css/helpers (see "Turn off link-underline styles").

However, the helper works only for links scoped to the `main` tag since they use `background` for making a custom "fat" underline.
https://github.com/ember-learn/ember-styleguide/blob/8bf40f8a5e50d125acce7bf6

[2020-05-14 17:35] alexeykostevich commented on #324
Per the discussion with @mansona , option 1 looks better. However, we need to be cautious not to break the existing apps.

[2020-05-15 20:16] mansona commented on #324
So there is another way of thinking about this whole situation 🤔

I happen to agree with the default styles being applied to main. Sure we could extend it to be in all cases but that then goes against the point of why it was only applied to main, we want to be able to have default link styles for the main content of the site and have them not apply to the nav or the footer.

For this reason I don'

[2020-05-17 13:28] alexeykostevich commented on #324
Thank you for looking at this, @mansona !

Looking at this again, I've realized that all of these solutions have their own pros and cons. Using `background` for custom "fat" underline makes this a bit tricky 🙂 Please, let me explain this in more detail.

Overall, the issue happens since we have **two** ways of making text underlined (using `background` and `text-decoration`) but the helper for tur

[2020-06-08 23:34] MelSumner opened #328 "Accessibility - color contrast missing for elements"
## Expected Behavior
ember-styleguide to have correct color contrast

## Actual Behavior
ember-styleguide is failing accessibility tests for color contrast

## Steps to Reproduce
check the ember-styleguide page using the axe-core plugin (below is my screenshot from doing the same):
![image](https://user-images.githubusercontent.com/4587451/84090163-847abe00-a9b6-11ea-8b00-d730b341badb.png)

[2020-06-11 09:42] nickschot opened #329 "Add styling for <hr/>"
Based on the design here: https://app.abstract.com/share/a0507989-278d-4684-9c1c-c436eddbba2b

[2020-06-21 10:55] jaredgalanis opened #330 "styleguide styles do not load for app using ember-cli 3.18+"

[2020-06-22 19:01] #330 closed

[2020-08-11 20:37] Mikek2252 commented on #329
@mansona gonna look at doing this, i presume this a global style being added to `<hr/>`?

[2020-08-27 11:50] #329 closed

[2020-08-27 16:18] mansona opened #336 "contact details in footer"
This was originally brought up in a learning team meeting: https://github.com/emberjs/core-notes/blob/master/learning-team/2020-08/2020-08-20.md#new-wcag-coming-up-ms-5min

We want to add the sentence:

If you want help you can [contact us by email](mailto:email), [open an issue](https://github.com/ember-learn/ember-website/new/issue?body=camefrom=window.location), or get realtime help by [joining

[2020-08-29 09:22] ecodata1 commented on #336
Hi @mansona, I'm interested to help, this would be my first issue.

Would this be best as a new sub-component e.g <EsFooterHelp>? I could create a basic component template PR to try things out. (May need help with github integration/ dynamic links)

What is the contact email address?

[2020-08-29 09:25] fozy81 commented on #336
Hi @mansona, I'm interested to help, this would be my first issue.

Would this be best as a new sub-component e.g EsFooterHelp.hbs ? I could create a basic component template PR to try things out. (May need help with github integration/ dynamic links)

What is the contact email address?

[2020-08-29 13:20] fozy81 commented on #336
Added a PR - just a work in progress, but hopefully helps a bit. The url is a component attribute not dynamic based on the window location. I'm not quite sure the best way to do that.

[2020-08-31 16:53] mansona commented on #336
hey @fozy81 sorry I took the weekend off so I didn't see this until now 😂

I'll comment on the PR with some suggestions 👍

[2020-09-04 12:02] jaredgalanis opened #343 "Some markdown styles missing or not properly formatted"
We did not have an example of how markdown is converted to html in the styleguide, this adds such an example in concepts.

Currently there are several styles which are either not supported or need adjustment and this is a WIP where we'll address these issues. Some of the issues are:

- [ ] spacing around h2, if it is not the first header, appears to be off (too large)
- [ ] h4 appears to have no s

[2020-09-08 18:11] fozy81 commented on #291
Hi, I can prepare a PR for a generic `<Banner>important message </Banner>` component in ember-styleguide?

[2020-09-17 14:14] mansona commented on #343
yay 🎉  got them all done 💪

congrats @jaredgalanis 🎉

[2020-09-17 16:24] mansona opened #346 "Improve "contact details in footer" implementation to automatically include url in issue body"
This is a follow in issue from https://github.com/ember-learn/ember-styleguide/issues/336 so that we could release the MVP of the feature without delaying it.

Essentially we want to improve the implementation from https://github.com/ember-learn/ember-styleguide/pull/337 to include the "submitted from URL" in the body of the issue if possible.

If we do this we need to be careful not to override a

[2020-10-01 16:46] #336 closed

[2020-10-08 11:27] mansona opened #348 "Discuss global margin top styles for `<p>` overriding the `<hr>` in the styleguide (and affecting the blog)."

[2020-10-12 10:51] neojp opened #351 "Wrong CSS class name in `button` documentation"
## Expected Behavior
The class name should say `es-button`.

## Actual Behavior
It currently says `something`.

## Steps to Reproduce
Go to https://ember-styleguide.netlify.app/components/button#stylinglinks and see the description

## Screenshot
![image](https://user-images.githubusercontent.com/127994/95738509-59032b00-0c57-11eb-8d38-d0a3876e571f.png)

[2020-10-12 11:06] #351 closed

[2020-10-13 09:00] neojp opened #354 "Warning "no onClicked" when button component is used with `@type="submit"` and no click handler"
## Expected Behavior
Do not send a missing `this.args.onClicked` warning if component is used as `button[type=submit]`.

## Actual Behavior
A warning is sent for a missing `this.args.onClicked` function even if it's not necessary.

https://github.com/ember-learn/ember-styleguide/blob/0eb219ff4c82b3629f73d30dd710cb33d33935e6/addon/components/es-button.js#L13-L18

## Steps to Reproduce
Add an `es-bu

[2020-11-01 09:33] neojp commented on #324
I just happened to run into this in another [commit](https://github.com/ember-learn/deprecation-app/pull/698/commits/542f6b9761148a371727d3df9a311e2cf4fdf076) in which `.bg-none` wouldn't hide the link's background because `main a` has a higher priority than `.bg-none`. I ended up having to write custom css to override these styles.

https://github.com/ember-learn/deprecation-app/blob/542f6b976114

[2020-12-22 13:53] fozy81 opened #357 "Email link not working correctly in footer template"
## Expected Behavior
After clicking email link in footer, email client opens with subject line 'help'.

## Actual Behavior
Email client opens but email address has trailing '<' and subject line not filled in with 'Help'.

## Steps to Reproduce
Click on email link on footer on the blog https://blog.emberjs.com/

[2020-12-22 13:53] fozy81 commented on #357
Preparing PR.

[2020-12-22 14:14] fozy81 commented on #357
Please review PR. @mansona

[2021-02-04 14:11] mansona opened #362 "Should all ESButtons have a pointer cursor"
If you go to https://ember-styleguide.netlify.app/components/button and compare the cursor when hovering over the buttons in `Styling Links` section and any of the other buttons.

Essentially we have an inconsistency in if we show a pointer cursor. I don't know what the perfect solution to this is but a quick fix would be to make it so that all buttons have `cursor: pointer` on them so that at lea

[2021-02-04 14:34] mansona commented on #348
this is done

[2021-02-04 14:34] #348 closed

[2021-02-04 14:37] mansona opened #363 "Change "hamburger" icon on the `<EsHeader />` component the word "Menu" or "Nav""
This is designed to make it clearer for users to know what that particular "hamburger" menu is supposed to be

[2021-02-04 14:38] mansona opened #364 "New colour pallet display component"
Implement new component for pallet display on ember-styleguide that shows all of the pallet in one card (with interaction)

[2021-02-25 13:59] nickschot opened #368 "Extract the sidebar implementation from the blog into ember-styleguide"

[2021-03-04 13:17] jenweber commented on #307
Here's an example PR containing some past work: https://github.com/ember-learn/ember-styleguide/pull/306

[2021-03-04 13:36] jenweber opened #371 "Move the notification banner to the styleguide"
**Note, this issue is reserved for EmberConf contributors workshop. Please volunteer for the issue if you are participating in the workshop.**

## Description

We have a [ember website banner component](https://github.com/ember-learn/ember-website/blob/1857017bc86beaacba045a0aefac8dec9e3a1a1c/app/templates/application.hbs#L5) that we want to make generalizable and share with other Ember apps.

![S

[2021-03-04 13:43] jenweber opened #372 "Update link to the guides"
We would like the navbar link that goes to the guides to be `https://guides.emberjs.com/release/` instead of `https://guides.emberjs.com` so there are fewer redirects needed.

<img width="1440" alt="Screen Shot 2021-03-04 at 8 40 49 AM" src="https://user-images.githubusercontent.com/16627268/109972497-5c11bd00-7cc5-11eb-81d7-8fa8933f1055.png">

To-do:
- Update the link used in the NavBar component

[2021-03-04 13:47] jenweber opened #374 "Move the ProgressBar into styleguide"
**Note, this issue is reserved for EmberConf contributors workshop. Please volunteer for the issue if you are participating in the workshop.**

## Description

The blog has a loading animation at the top of the page. You can see this loader bar if you click "older articles" at the bottom of the page a couple times. We'd like to use this in the guides too, so it would be great to add to the `ember-

[2021-03-04 13:56] #368 closed

[2021-03-29 13:33] jaredgalanis opened #378 "convert ember-styleguide to use co-located components"
**Note, this issue is reserved for EmberConf contributors workshop. Please volunteer for the issue if you are participating in the workshop.**

Currently the components in ember-styleguide are not co-located with their templates.

https://github.com/ember-learn/ember-styleguide/tree/master/addon/components
https://github.com/ember-learn/ember-styleguide/tree/master/addon/templates/components

We s

[2021-03-29 17:07] afzal273 commented on #378
I'll take this one

[2021-03-29 17:09] afzal273 commented on #374
I'll work on this one

[2021-04-01 12:58] mansona opened #379 "es-sidebar doesn't have a min with"
I just tried to use the new es-sidebar in the Gudiemaker redesign and it was super small. It currently has a `width` set but I needed to hard-code a `min-width` to make it actually expand properly.

I'm not exactly sure why it needs this 😂  but it works 🤷

Any thoughts @nickschot ?

[2021-04-01 14:41] nickschot commented on #379
if I remember correctly in our current design the sidebar container imposes the correct width. What's different about the guidemaker setup? Have some code you can show me?

[2021-04-01 16:54] mansona commented on #379
Yes indeed! You will be able to see it in the preview app for this: https://github.com/ember-learn/guidemaker-ember-template/pull/71

[2021-04-01 17:08] nickschot commented on #379
So the blog seems to be using an older implementation right now (which I think is correct, we haven't upgraded it yet). The reason the blog works is that it uses disiplay grid. The current implementation in styleguide uses flexbox. What seems to be missing is an explicit width for the non-sidebar content. E.g. adding `width: 100%;` to
[code]
should fix it (for the > 768px media query).

[2021-04-02 20:22] mansona commented on #379
Just keeping a note here related to the issue: We discussed this today on a call and it seems to be related to the fact that we used Flexbox to implement this feature in the styleguide but actually we rely on Grid to impelment it in the Ember blog (where this feature originally came from)

The proposed fix is to just ditch the use of Flexbox for this feature and use Grid in the same way that we di

[2021-04-08 12:53] mansona opened #380 "Add styles for inline code examples"
Currently we rely on https://github.com/empress/ember-showdown-prism for larger code blocks in our markdown e.g.

[code]

That functionally works great but it doesn't provide any styles for **inline** code examples `like this` (using one backtick to surround the text)

## Todo

- come up with exact styles for these inline code examples that work with the new design
- make sure it uses the correct

[2021-04-08 13:00] jenweber commented on #380
Sample CSS (this is close to what we use today):

[code]

The problem with this is that the contrast between the graphical element and the light grey site background is too low. Right now, there is no contrast at all, so this is still a step in the right direction, but it needs one more iteration after this. Recommendations welcome!

[2021-04-08 14:05] jaredgalanis commented on #374
Hey @afzal273, just checking in on this one. Did you still want to take it on or were you only thinking of working on it during ember conf workshop? No worries at all either way!

[2021-04-08 14:14] nickschot commented on #379
Issue was slightly different, the easier/better fix is adding `flex-shrink: 0` to the sidebar styles.

[2021-04-08 18:04] afzal273 commented on #374
Thanks for checking in and the reminder. I'll still take it on.

[2021-04-10 20:23] #379 closed

[2021-04-10 21:54] #374 closed

[2021-04-15 13:43] #372 closed

[2021-04-15 13:52] jenweber opened #386 "Update Node engine version"
## Expected Behavior
I wanted to run this project locally.

## Actual Behavior
I couldn't run it with Node 12 because of ember-auto-import. That library requires Node 14 because it uses optional chaining:

[code]

## Steps to Reproduce
- Run the project using Node 12 and `npx ember serve`

[2021-04-15 14:09] #380 closed

[2021-04-15 15:01] mansona opened #389 "prevent overflow of the `sidebar-container`"
https://deploy-preview-73--guidemaker-ember-template.netlify.app/release/examples/syntax-highlighting
https://share.getcloudapp.com/nOuooYX2

[2021-04-16 13:55] #386 closed

[2021-04-16 17:44] jaredgalanis commented on #378
@afzal273, I'm going to work on this one with @hannakim91, if that's okay with you.

[2021-04-16 18:00] afzal273 commented on #378
Sure sounds good, sorry I wasn't able to get to it yet.

[2021-04-20 21:15] #378 closed

[2021-04-20 21:20] jaredgalanis opened #392 "Update EsHeaderNavbarLink and co-locate the template and js files"
Most of the components in the `ember-styleguide` were co-located in #391, but there was one component left (`EsHeaderNavbarLink`) that needs work before it can be co-located.

This ticket tracks that remaining open task.

[2021-04-22 13:45] nickschot commented on #389
small yet interesting note: `overflow: hidden` on the `.example-content` div fixes it 🤔

[2021-05-09 06:12] prasannavijayan commented on #362
@mansona will check and raise PR.

[2021-05-13 10:01] mansona commented on #362
Hey @prasannavijayan thanks for your contribution 🎉

Sorry if I wasn't very clear, this issue wasn't actually ready to be implemented as there are some questions that need to be discussed and agreed upon before we make any change. For example, the question `does this have an a11y concern?` hasn't been answered and we're not going to make a change to all of our buttons without first answering that

[2021-05-14 21:49] pichfl commented on #362
1. https://ux.stackexchange.com/questions/105024/why-dont-button-html-elements-have-a-css-cursor-pointer-by-default
2. https://adamsilver.io/blog/buttons-shouldnt-have-a-hand-cursor/

TLDR; I personally don't think actual buttons should have `cursor: pointer`. Having said that, I also think that the web is a moving target after all and I don't want to die on that hill.

[2021-05-20 15:25] mansona commented on #362
After reading your material @pichfl I'm pretty convinced that this is a marginal change that we could probably justify either way. When there is a marginal change like this I tend to leave things as they are unless we have justification to make an active change.

I'm going to close this for now and if we decide that we need to open it again at a later date then we can do that 👍

[2021-05-20 15:25] #362 closed

[2021-05-22 08:58] fozy81 commented on #357
Merged and fixed on live website.

[2021-05-22 08:58] #357 closed

[2021-05-22 09:56] fozy81 commented on #363
Hi @mansona - I'd like to try fixing this issue.

I've got a question about overflow/hidden text in the current menu hamburger:

Currently  the hamburger button has this text inside it:
 `{{if this.expanded "Hide" "Show"}} Site Navigation`\
But this text is hidden from display by the css:
`overflow: hidden; text-indent: -999rem;` (?)

I could insert 'Menu'  text into the menu button and remove the

[2021-05-23 18:46] fozy81 commented on #363
I'm think replacing the hidden `Site Navigation` text should go into aria? for example:
 `aria-label="{{if this.expanded "Hide" "Show"}}  screen reader only label"`

[2021-05-27 14:19] amyrlam commented on #371
Hey I can work on this, just talked to @jaredgalanis

[2021-06-03 14:31] #389 closed

[2021-06-05 00:53] #392 closed

[2021-06-10 14:15] amyrlam commented on #371
From meeting: should address BLM, survey, EmberConf.

https://github.com/ember-learn/ember-website/pulls?q=is%3Apr+is%3Aclosed+banner

[2021-06-11 09:51] takshch commented on #285
Can you please tell me whether Secondary colours are already discussed or we need to discuss it?

[2021-06-17 15:22] mansona opened #400 "Add upgrade guide to the nav bar?"
Now that the upgrade app has been around for a while we should decide if we think we should add it to the Nav links in the NavBar.

If we decide we want to add it then we should also decide where 👍

[2021-06-29 18:04] fozy81 commented on #371
I'll try taking on this issue after agreeing with @amyrlam to pick it up

[2021-07-22 16:24] mansona commented on #363
I'm going to close this issue now as a "won't fix"

I explain more about this in the comment that closed the PR https://github.com/ember-learn/ember-styleguide/pull/397#issuecomment-885045337

sorry again for the confusion!

[2021-07-22 16:24] #363 closed

[2021-07-29 14:40] mansona opened #405 "Fix the HTML API for ESNote so that it is backwards compatible"
We want to fix the HTML API of the EsNote so that we don't need change 378 instances of it in both the guides and the cli-guides 🙈

What do we mean by "HTML API". Because our Guides use Markdown that doesn't actually execute Ember Components (yet 😏 ) we can't just use `<EsNote />` directly in the contents of a guide. Instead we have been copying and pasting the HTML that the component would genera

[2021-08-04 05:22] amyrlam opened #407 "Upgrade repo to 3.27 using ember-cli-update"
## Expected Behavior
Upgrade Ember to latest 3.27 per last week's meeting

[2021-08-04 05:24] amyrlam commented on #407
@mansona I saw you started this in https://github.com/ember-learn/ember-styleguide/pull/403, just checking if I should still do this for Thurs?

[2021-09-09 15:09] mansona commented on #307
Here are some proposals for the new design:

<img width="1027" alt="Screenshot_2021-09-09_at_16 25 42" src="https://user-images.githubusercontent.com/594890/132712245-566ccf38-a7cb-4fe4-a8c5-8ba3d335d208.png">
<img width="1042" alt="Screenshot_2021-09-09_at_16 26 06" src="https://user-images.githubusercontent.com/594890/132712259-5e344ad3-197a-415d-beb5-abfd6c4b7b38.png">
<img width="733" alt="Scr

[2021-09-09 15:54] mansona commented on #307
We discussed this in the learning team and we want to go with
<img width="1027" alt="132712245-566ccf38-a7cb-4fe4-a8c5-8ba3d335d208" src="https://user-images.githubusercontent.com/594890/132720090-85086706-f99e-42a1-a875-01a68cfff3c7.png">

although everyone said they liked the last one with the folded corner 😂

[2021-11-16 20:56] clintongreen opened #410 "Error when using ember-concurrency"
## Expected Behavior
- I expected the addon to work with my app

## Actual Behavior
- The app errors with this message:
- `Error: Assertion Failed: @computed can only be used on accessors or fields, attempted to use it with numResultsTask but that was a method. Try converting it to a getter (e.g. `get numResultsTask() {}`)`
- I am not using `@computed` anywhere but the `numResultsTask` function us

[2021-11-16 21:43] clintongreen commented on #410
I'm trying to run this in the same folder as my app. I'm not sure this is how its supposed to be used so please let me know.

[2022-01-05 00:56] amyrlam commented on #407
Repo is at "~3.28.8", closing

[2022-01-05 00:56] #407 closed

[2022-01-25 20:05] #405 closed

[2022-05-12 14:09] MinThaMie commented on #307
@MinThaMie will build the one that sparks her and @mansona joy which is the one with the dog ear. It will be updated in #408

[2022-05-13 13:53] #371 closed

[2022-05-17 12:47] MinThaMie commented on #247
Let's close this if it's no longer needed and when we decide it's needed again, we can reopen :)

[2022-05-17 12:47] #247 closed

[2022-05-17 12:48] MinThaMie commented on #121
Done :)

[2022-05-17 12:48] #121 closed

[2022-05-17 12:48] MinThaMie commented on #119
Done :)

[2022-05-17 12:48] #119 closed

[2022-05-17 12:58] MinThaMie commented on #116
Thanks for all your work. We might use it when it's needed again :)

[2022-05-17 12:58] #116 closed

[2022-05-17 12:59] MinThaMie commented on #15
It's an anglebracket component that meets all the needs, so I don't think we need this issue anymore

[2022-05-17 12:59] #15 closed

[2022-05-17 13:02] MinThaMie commented on #29
Since #77 is merged I think we're okay on this issue :)

[2022-05-17 13:02] #29 closed

[2022-05-17 13:28] #286 closed

[2022-05-17 13:34] MinThaMie commented on #99
We'll create a new issue to port [this menu](https://github.com/ember-learn/guidemaker-ember-template/pull/98) to the style guide when it's ready

[2022-05-17 13:34] #99 closed

[2022-05-17 13:36] MinThaMie commented on #37
This component does not exist and we might not need it right now. We'll create a new issue to pick it up if we need it

[2022-05-17 13:36] #37 closed

[2022-05-17 13:38] MinThaMie commented on #7
AFAIK there are no CTA's currently in our design, so let's close this issue and make a new one when we actually need it.

[2022-05-17 13:38] #7 closed

[2022-05-17 13:59] MinThaMie commented on #59
Discussed with @mansona and this is no longer accurate

[2022-05-17 13:59] #59 closed

[2022-05-17 14:04] #242 closed

[2022-05-17 14:10] MinThaMie commented on #328
Will be fixed in https://github.com/empress/field-guide-default-template/issues/37

[2022-05-17 14:10] #328 closed

[2022-05-20 08:19] MinThaMie commented on #364
I think I like the description of #311 more and I believe it's the same issue. So if that's the case, maybe we can close this one?

[2022-05-20 08:40] MinThaMie commented on #310
I'm not sure we need it at the moment, so I'll close the issue for now :)

[2022-07-21 09:06] #283 closed

[2022-07-22 16:56] mansona commented on #313
We are tracking this work in https://github.com/orgs/ember-learn/projects/39 now 👍

[2022-07-22 16:56] #313 closed